In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r'C:\Users\benja\Downloads\Final Project\Final Project\winequality-red.csv')

In [4]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [5]:
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [6]:
df.corr()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
fixed acidity,1.000000,-0.256131,0.671703,0.114777,0.093705,-0.153794,-0.113181,0.668047,-0.682978,0.183006,-0.061668,0.124052
volatile acidity,-0.256131,1.000000,-0.552496,0.001918,0.061298,-0.010504,0.076470,0.022026,0.234937,-0.260987,-0.202288,-0.390558
citric acid,0.671703,-0.552496,1.000000,0.143577,0.203823,-0.060978,0.035533,0.364947,-0.541904,0.312770,0.109903,0.226373
residual sugar,0.114777,0.001918,0.143577,1.000000,0.055610,0.187049,0.203028,0.355283,-0.085652,0.005527,0.042075,0.013732
chlorides,0.093705,0.061298,0.203823,0.055610,1.000000,0.005562,0.047400,0.200632,-0.265026,0.371260,-0.221141,-0.128907
free sulfur dioxide,-0.153794,-0.010504,-0.060978,0.187049,0.005562,1.000000,0.667666,-0.021946,0.070377,0.051658,-0.069408,-0.050656
total sulfur dioxide,-0.113181,0.076470,0.035533,0.203028,0.047400,0.667666,1.000000,0.071269,-0.066495,0.042947,-0.205654,-0.185100
density,0.668047,0.022026,0.364947,0.355283,0.200632,-0.021946,0.071269,1.000000,-0.341699,0.148506,-0.496180,-0.174919
pH,-0.682978,0.234937,-0.541904,-0.085652,-0.265026,0.070377,-0.066495,-0.341699,1.000000,-0.196648,0.205633,-0.057731
sulphates,0.183006,-0.260987,0.312770,0.005527,0.371260,0.051658,0.042947,0.148506,-0.196648,1.000000,0.093595,0.251397
alcohol,-0.061668,-0.202288,0.109903,0.042075,-0.221141,-0.069408,-0.205654,-0.496180,0.205633,0.093595,1.000000,0.476166
quality,0.124052,-0.390558,0.226373,0.013732,-0.128907,-0.050656,-0.185100,-0.174919,-0.057731,0.251397,0.476166,1.000000

In [9]:
df[(df['quality']==8)]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
267,7.9,0.35,0.46,3.6,0.078,15.0,37.0,0.99730,3.35,0.86,12.8,8
278,10.3,0.32,0.45,6.4,0.073,5.0,13.0,0.99760,3.23,0.82,12.6,8
390,5.6,0.85,0.05,1.4,0.045,12.0,88.0,0.99240,3.56,0.82,12.9,8
440,12.6,0.31,0.72,2.2,0.072,6.0,29.0,0.99870,2.88,0.82,9.8,8
455,11.3,0.62,0.67,5.2,0.086,6.0,19.0,0.99880,3.22,0.69,13.4,8
481,9.4,0.30,0.56,2.8,0.080,6.0,17.0,0.99640,3.15,0.92,11.7,8
495,10.7,0.35,0.53,2.6,0.070,5.0,16.0,0.99720,3.15,0.65,11.0,8
498,10.7,0.35,0.53,2.6,0.070,5.0,16.0,0.99720,3.15,0.65,11.0,8
588,5.0,0.42,0.24,2.0,0.060,19.0,50.0,0.99170,3.72,0.74,14.0,8
828,7.8,0.57,0.09,2.3,0.065,34.0,45.0,0.99417,3.46,0.74,12.7,8
1061,9.1,0.40,0.50,1.8,0.071,7.0,16.0,0.99462,3.21,0.69,12.5,8
1090,10.0,0.26,0.54,1.9,0.083,42.0,74.0,0.99451,2.98,0.63,11.8,8
1120,7.9,0.54,0.34,2.5,0.076,8.0,17.0,0.99235,3.20,0.72,13.1,8
1202,8.6,0.42,0.39,1.8,0.068,6.0,12.0,0.99516,3.35,0.69,11.7,8
1269,5.5,0.49,0.03,1.8,0.044,28.0,87.0,0.99080,3.50,0.82,14.0,8
1403,7.2,0.33,0.33,1.7,0.061,3.0,13.0,0.99600,3.23,1.10,10.0,8
1449,7.2,0.38,0.31,2.0,0.056,15.0,29.0,0.99472,3.23,0.76,11.3,8
1549,7.4,0.36,0.30,1.8,0.074,17.0,24.0,0.99419,3.24,0.70,11.4,8

In [23]:
df[(df['quality']==8)].count()

fixed acidity           18
volatile acidity        18
citric acid             18
residual sugar          18
chlorides               18
free sulfur dioxide     18
total sulfur dioxide    18
density                 18
pH                      18
sulphates               18
alcohol                 18
quality                 18
dtype: int64

In [12]:
df[(df['quality']==3)]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
459,11.6,0.580,0.66,2.20,0.074,10.0,47.0,1.00080,3.25,0.57,9.00,3
517,10.4,0.610,0.49,2.10,0.200,5.0,16.0,0.99940,3.16,0.63,8.40,3
690,7.4,1.185,0.00,4.25,0.097,5.0,14.0,0.99660,3.63,0.54,10.70,3
832,10.4,0.440,0.42,1.50,0.145,34.0,48.0,0.99832,3.38,0.86,9.90,3
899,8.3,1.020,0.02,3.40,0.084,6.0,11.0,0.99892,3.48,0.49,11.00,3
1299,7.6,1.580,0.00,2.10,0.137,5.0,9.0,0.99476,3.50,0.40,10.90,3
1374,6.8,0.815,0.00,1.20,0.267,16.0,29.0,0.99471,3.32,0.51,9.80,3
1469,7.3,0.980,0.05,2.10,0.061,20.0,49.0,0.99705,3.31,0.55,9.70,3
1478,7.1,0.875,0.05,5.70,0.082,3.0,14.0,0.99808,3.40,0.52,10.20,3
1505,6.7,0.760,0.02,1.80,0.078,6.0,12.0,0.99600,3.55,0.63,9.95,3

In [24]:
df[(df['quality']==3)].count()

fixed acidity           10
volatile acidity        10
citric acid             10
residual sugar          10
chlorides               10
free sulfur dioxide     10
total sulfur dioxide    10
density                 10
pH                      10
sulphates               10
alcohol                 10
quality                 10
dtype: int64

In [13]:
df.count()

fixed acidity           1599
volatile acidity        1599
citric acid             1599
residual sugar          1599
chlorides               1599
free sulfur dioxide     1599
total sulfur dioxide    1599
density                 1599
pH                      1599
sulphates               1599
alcohol                 1599
quality                 1599
dtype: int64

In [16]:
df.query('quality>6').count()

fixed acidity           217
volatile acidity        217
citric acid             217
residual sugar          217
chlorides               217
free sulfur dioxide     217
total sulfur dioxide    217
density                 217
pH                      217
sulphates               217
alcohol                 217
quality                 217
dtype: int64

In [20]:
df.query('quality>6')

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.99460,3.39,0.47,10.00,7
8,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.99680,3.36,0.57,9.50,7
16,8.5,0.28,0.56,1.8,0.092,35.0,103.0,0.99690,3.30,0.75,10.50,7
37,8.1,0.38,0.28,2.1,0.066,13.0,30.0,0.99680,3.23,0.73,9.70,7
62,7.5,0.52,0.16,1.9,0.085,12.0,35.0,0.99680,3.38,0.62,9.50,7
...,...,...,...,...,...,...,...,...,...,...,...,...
1541,7.4,0.25,0.29,2.2,0.054,19.0,49.0,0.99666,3.40,0.76,10.90,7
1544,8.4,0.37,0.43,2.3,0.063,12.0,19.0,0.99550,3.17,0.81,11.20,7
1549,7.4,0.36,0.30,1.8,0.074,17.0,24.0,0.99419,3.24,0.70,11.40,8
1555,7.0,0.56,0.17,1.7,0.065,15.0,24.0,0.99514,3.44,0.68,10.55,7
1584,6.7,0.32,0.44,2.4,0.061,24.0,34.0,0.99484,3.29,0.80,11.60,7

In [17]:
df.query('quality<6').count()

fixed acidity           744
volatile acidity        744
citric acid             744
residual sugar          744
chlorides               744
free sulfur dioxide     744
total sulfur dioxide    744
density                 744
pH                      744
sulphates               744
alcohol                 744
quality                 744
dtype: int64

In [21]:
df.query('quality<6')

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
5,7.4,0.660,0.00,1.8,0.075,13.0,40.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1582,6.1,0.715,0.10,2.6,0.053,13.0,27.0,0.99362,3.57,0.50,11.9,5
1583,6.2,0.460,0.29,2.1,0.074,32.0,98.0,0.99578,3.33,0.62,9.8,5
1589,6.6,0.725,0.20,7.8,0.073,29.0,79.0,0.99770,3.29,0.54,9.2,5
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5

In [19]:
df.query('quality==6').count()

fixed acidity           638
volatile acidity        638
citric acid             638
residual sugar          638
chlorides               638
free sulfur dioxide     638
total sulfur dioxide    638
density                 638
pH                      638
sulphates               638
alcohol                 638
quality                 638
dtype: int64

In [22]:
df.query('quality==6')

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
19,7.9,0.320,0.51,1.8,0.341,17.0,56.0,0.99690,3.04,1.08,9.2,6
20,8.9,0.220,0.48,1.8,0.077,29.0,60.0,0.99680,3.39,0.53,9.4,6
24,6.9,0.400,0.14,2.4,0.085,21.0,40.0,0.99680,3.43,0.63,9.7,6
29,7.8,0.645,0.00,2.0,0.082,8.0,16.0,0.99640,3.38,0.59,9.8,6
...,...,...,...,...,...,...,...,...,...,...,...,...
1592,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1593,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [25]:
df.groupby('quality').count()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
quality,,,,,,,,,,,
3,10,10,10,10,10,10,10,10,10,10,10
4,53,53,53,53,53,53,53,53,53,53,53
5,681,681,681,681,681,681,681,681,681,681,681
6,638,638,638,638,638,638,638,638,638,638,638
7,199,199,199,199,199,199,199,199,199,199,199
8,18,18,18,18,18,18,18,18,18,18,18

In [29]:
(df[(df['quality']==5)].count()+df[(df['quality']==6)].count())/df.count()
#82.4891% of the results are in 5 and 6 quality level

fixed acidity           0.824891
volatile acidity        0.824891
citric acid             0.824891
residual sugar          0.824891
chlorides               0.824891
free sulfur dioxide     0.824891
total sulfur dioxide    0.824891
density                 0.824891
pH                      0.824891
sulphates               0.824891
alcohol                 0.824891
quality                 0.824891
dtype: float64

In [32]:
df[(df['quality']==7)].count()/df.count()
#12.4453% is of quality level 7 and the rest split up betwween 3,4,and 8
#Between 5,6,and 7 that puts it as 94.9344% of the total count being in the quality range from 5 through 7

fixed acidity           0.124453
volatile acidity        0.124453
citric acid             0.124453
residual sugar          0.124453
chlorides               0.124453
free sulfur dioxide     0.124453
total sulfur dioxide    0.124453
density                 0.124453
pH                      0.124453
sulphates               0.124453
alcohol                 0.124453
quality                 0.124453
dtype: float64

In [33]:
(df[(df['quality']==5)].count()+df[(df['quality']==6)].count()+df[(df['quality']==7)].count())/df.count()

fixed acidity           0.949343
volatile acidity        0.949343
citric acid             0.949343
residual sugar          0.949343
chlorides               0.949343
free sulfur dioxide     0.949343
total sulfur dioxide    0.949343
density                 0.949343
pH                      0.949343
sulphates               0.949343
alcohol                 0.949343
quality                 0.949343
dtype: float64

In [35]:
df.query('quality>=5 & quality<=7').describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1518.000000,1518.000000,1518.000000,1518.000000,1518.000000,1518.000000,1518.000000,1518.000000,1518.000000,1518.000000,1518.000000,1518.000000
mean,8.335310,0.520909,0.273590,2.532279,0.087349,16.063900,47.121212,0.996767,3.308603,0.659585,10.411759,5.682477
std,1.738518,0.171017,0.192868,1.397449,0.045761,10.477423,33.101582,0.001883,0.152161,0.166541,1.053557,0.692246
min,4.700000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.860000,0.370000,8.400000,5.000000
25%,7.100000,0.390000,0.100000,1.900000,0.070000,8.000000,23.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996765,3.310000,0.620000,10.150000,6.000000
75%,9.200000,0.630000,0.427500,2.600000,0.090000,22.000000,63.000000,0.997860,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.330000,0.790000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,1.980000,14.900000,7.000000

In [36]:
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [37]:
df.query('quality==8').describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.0
mean,8.566667,0.423333,0.391111,2.577778,0.068444,13.277778,33.444444,0.995212,3.267222,0.767778,12.094444,8.0
std,2.119656,0.144914,0.199526,1.295038,0.011678,11.155613,25.433240,0.002378,0.200640,0.115379,1.224011,0.0
min,5.000000,0.260000,0.030000,1.400000,0.044000,3.000000,12.000000,0.990800,2.880000,0.630000,9.800000,8.0
25%,7.250000,0.335000,0.302500,1.800000,0.062000,6.000000,16.000000,0.994175,3.162500,0.690000,11.325000,8.0
50%,8.250000,0.370000,0.420000,2.100000,0.070500,7.500000,21.500000,0.994940,3.230000,0.740000,12.150000,8.0
75%,10.225000,0.472500,0.530000,2.600000,0.075500,16.500000,43.000000,0.997200,3.350000,0.820000,12.875000,8.0
max,12.600000,0.850000,0.720000,6.400000,0.086000,42.000000,88.000000,0.998800,3.720000,1.100000,14.000000,8.0

In [38]:
df.query('quality>=5 & quality<=7').quantile(0.5)

fixed acidity            7.900000
volatile acidity         0.520000
citric acid              0.260000
residual sugar           2.200000
chlorides                0.079000
free sulfur dioxide     14.000000
total sulfur dioxide    38.000000
density                  0.996765
pH                       3.310000
sulphates                0.620000
alcohol                 10.150000
quality                  6.000000
Name: 0.5, dtype: float64

In [39]:
df.quantile(0.5)

fixed acidity            7.90000
volatile acidity         0.52000
citric acid              0.26000
residual sugar           2.20000
chlorides                0.07900
free sulfur dioxide     14.00000
total sulfur dioxide    38.00000
density                  0.99675
pH                       3.31000
sulphates                0.62000
alcohol                 10.20000
quality                  6.00000
Name: 0.5, dtype: float64

In [40]:
df.query('quality==8').quantile(0.5)

fixed acidity            8.25000
volatile acidity         0.37000
citric acid              0.42000
residual sugar           2.10000
chlorides                0.07050
free sulfur dioxide      7.50000
total sulfur dioxide    21.50000
density                  0.99494
pH                       3.23000
sulphates                0.74000
alcohol                 12.15000
quality                  8.00000
Name: 0.5, dtype: float64

In [41]:
#Quality of 8 has a higher mean fixed acidity of 8.25 in comparison to 7.90 
#which could mean the higher the fixed acidity the better quality of the wine

#Higher fixed acidity = Higher wine quality

#Quality 8 has a lower mean volatile acidity of 0.37 compared to 0.52 which could mean the lower volatile acidity 
#the better the quality of the wine

#Lower volatile acidity = Higher wine quality

#Quality 8 has a higher mean citric acid which is 0.42 in comparison to 0.26 which could mean the higher the citric acid the 
#higher quality the wine

#Higher citric acid = Higher wine quality

#Quality 8 has a lower mean residual sugar of 2.1 in comparison to 2.2 which could mean the lower the residual sugar the better
#the quality of wine

#Lower residual sugar = Higher wine quality

#Quality 8 has a lower mean chlorides of 0.07050 in comparison to 0.079 which could mean the lower the chlorides are the 
#better the quality of the wine

#Lower chlorides = Higher wine quality

#Quality 8 has a significantly lower mean free sulfer dioxide of 7.5 in comparison to 14 which could show that the lower the 
#free sulfer dioxide the higher the quality

#Lower free sulfade dioxide = Higher wine quality

#Quality has a significanty lower mean total sulfer dioxide of 21.5 in comparison to 38 which could show that the lower the
#total sulfer dioxide the higher the quality of the wine

#Lower total sulfer dioxide = Higher wine quality

#Quality 8 has a lower mean density of 0.99494 in comparison to 0.99675 which is a minor change, but could have an affect on the 
#quality of the wine

#Lower density = Higher wine quality

#Quality 8 has a lower mean ph of 3.23 in comparison to 3.31 which could suggest that a lower ph means a higher quality of wine

#Lower ph = Higher wine quality

#Quality 8 has higher mean sulfates of 0.74 in comparison to 0.62 whcih could suggest that the higher the sulfates the higher
#the overall wine quality

#High sulfates = Higher wine quality

#Quality 8 has a higher mean alcohol of 12.15 in comparison to 10.20 and 10.15 where the 10.15 is from quality ranging from
#5 through 9 which does suggest the higher the alcohol of the wine the better the quality

#Higher alcohol = Higher wine quality

#A significant note is that for all but one value the wine of the quality from 5 through 7 had the same mean numbers as the
#entire dataframe except for alcohol where it had 10.15 and the dataframe had 10.20 which is most likely due to how many
#wines are in the quality are from 5 through 7

In [42]:
df.query('quality==5').quantile(0.5)

fixed acidity            7.800
volatile acidity         0.580
citric acid              0.230
residual sugar           2.200
chlorides                0.081
free sulfur dioxide     15.000
total sulfur dioxide    47.000
density                  0.997
pH                       3.300
sulphates                0.580
alcohol                  9.700
quality                  5.000
Name: 0.5, dtype: float64

In [43]:
df.query('quality==6').quantile(0.5)

fixed acidity            7.90000
volatile acidity         0.49000
citric acid              0.26000
residual sugar           2.20000
chlorides                0.07800
free sulfur dioxide     14.00000
total sulfur dioxide    35.00000
density                  0.99656
pH                       3.32000
sulphates                0.64000
alcohol                 10.50000
quality                  6.00000
Name: 0.5, dtype: float64

In [44]:
df.query('quality==7').quantile(0.5)

fixed acidity            8.80000
volatile acidity         0.37000
citric acid              0.40000
residual sugar           2.30000
chlorides                0.07300
free sulfur dioxide     11.00000
total sulfur dioxide    27.00000
density                  0.99577
pH                       3.28000
sulphates                0.74000
alcohol                 11.50000
quality                  7.00000
Name: 0.5, dtype: float64

In [45]:
#Quality 7 has the highest mean fixed acidity among the three quality levels with an 8.8 in comparision to 6 with a 7.9 and
#5 with 7.8 which is showing an increase with each level suggesting that the higher the fixed acidity the higher the quality

#Higher fixed acidity = Higher wine quality

#Quality 7 has the lowest mean volatile acidity at 0.37 in comparison to 6 with 0.49 and 5 with 0.58. Which shows a steady
#decrease as the quality increases which also further backs up the previous data that suggests the lower the volatile acidity
#the higher quality of the wine

#Lower volatile acidity = Higher wine quality

#Quality 7 has a higher mean citric acid of 0.4 in comparison to 6 with a 0.26 and 5 with a 0.23 which shows an increase as 
#quality improves suggesting that the higher the citric acid the higher the quality of the wine

#Higher citric acid = Higher wine quality

#Quality 7 has a higher mean residual sugar being at 2.3 with both 5 and 6 being at 2.2 which could suggest that the higher the
#residual sugar the higher the quality, but with both 5 and 6 being the same it could have very little effect

#Higher residual sugar = Higher wine quality?

#Quality 7 has the lowest mean chlorides at 0.073 in comparison to 6 at 0.078 and 5 at 0.081 which does suggest that the lower
#the chlorides the higher the quality

#Lower chloride = Higher wine quality

#Quality 7 has the lowest mean free sulfer dioxide at 11 in comparison to 6 at 14 and 5 at 15 which shows a decrease as quality
#increase suggesting that the lower the free sulfer dioxide the higher the quality

#Lower free sulfer dioxide = Higher wine quality

#Quality 7 has the lowest mean total sulfer dioxide at 27 in comparison to 6 at 35 and 5 at 47 which suggests that the lower
#the total sulfer dioxide the higher the quality

#Lower total sulfer dioxide = Higher wine quality

#Quality 7 has the lowst mean density at .99577 in comparison to 6 at .99656 and 5 at .997 which shows a minor decrease as 
#quality increases suggesting that the lower the density the higher the quality

#Lower density = Higher wine quality

#Quality 7 has the lowest mean ph at 3.28 with 6 being at 3.32 and 5 at 3.30 which could suggest that ph does not have a direct
#affect on the quality of the wine

#ph ? quality

#Quality 7 has the highest mean sulfates at 0.74 with 6 being at 0.64 and 5 at 0.58 which does suggest that the higher the
#sulfates the higher the quality

#Higher sulfates = Higher wine quality

#Quality 7 has the highest mean alcohol at 11.5 with 6 at 10.5 and 5 at 9.7 which does suggest that the higher the alcohol
#the higher the quality

#Higher alcohol = Higher wine quality

In [ ]:
#Comparison between the mean of quality from 5 through 7, the entire dataframe, and quality 8

#Higher fixed acidity = Higher wine quality
#Lower volatile acidity = Higher wine quality
#Higher citric acid = Higher wine quality
#Lower residual sugar = Higher wine quality
#Lower chlorides = Higher wine quality
#Lower free sulfade dioxide = Higher wine quality
#Lower total sulfer dioxide = Higher wine quality
#Lower density = Higher wine quality
#Lower ph = Higher wine quality
#High sulfates = Higher wine quality
#Higher alcohol = Higher wine quality

#Comparison between the mean of quality 5, quality 6, and quality 7

#Higher fixed acidity = Higher wine quality
#Lower volatile acidity = Higher wine quality
#Higher citric acid = Higher wine quality
#Higher residual sugar = Higher wine quality?
#Lower chloride = Higher wine quality
#Lower free sulfer dioxide = Higher wine quality
#Lower total sulfer dioxide = Higher wine quality
#Lower density = Higher wine quality
#ph ? quality
#Higher sulfates = Higher wine quality
#Higher alcohol = Higher wine quality

#When looking at the results of the comparisons an important note is that the first one found that the lower the residual sugar
#the higher the quality, however the second comparison shows the reverse of the higher the residual sugar the higher the
#quality. The ph was viewed as a lower ph made a higher quality, but the second comparrison was unable to draw any conclusion.
#Everything else drew the same conclusion

In [46]:
df.query('quality==3').quantile(0.5)

fixed acidity            7.500000
volatile acidity         0.845000
citric acid              0.035000
residual sugar           2.100000
chlorides                0.090500
free sulfur dioxide      6.000000
total sulfur dioxide    15.000000
density                  0.997565
pH                       3.390000
sulphates                0.545000
alcohol                  9.925000
quality                  3.000000
Name: 0.5, dtype: float64

In [47]:
df.query('quality==5').quantile(0.5)

fixed acidity            7.800
volatile acidity         0.580
citric acid              0.230
residual sugar           2.200
chlorides                0.081
free sulfur dioxide     15.000
total sulfur dioxide    47.000
density                  0.997
pH                       3.300
sulphates                0.580
alcohol                  9.700
quality                  5.000
Name: 0.5, dtype: float64

In [48]:
#Quality 5 has a higher mean fixed acidity at 7.8 in comparison to 7.3 in quality 3 which suggests that the higher the fixed 
#acidity the higher the quality

#Higher fixed acidity = Higher wine quality

#Quality 5 has a lower mean volatile acidity at 0.580 in comparison to 0.845 which suggests the the lower the volatile acidity
#the higher the wine quality

#Lower volatile acidity = Higher wine quality

#Quality 5 has a higher mean citric acid at .23 in comparison to 0.035 which suggests that the higher the citric acid the higher
#the quality

#Higher citric acid = Higher wine quality

#Quality 5 has a higher mean residual sugar at 2.2 in comparison to 2.1 which suggests that the higher the residual sugar the
#higher the quality

#Higher residual sugar = Higher wine quality

#Quality 5 has a lower mean chlorides at 0.081 in comparison to 0.0905 which suggests that the lower the chlorides the higher
#the quality of the wine

#Lower chlorides = Higher wine quality

#Quality 5 has a higher mean free sulfer dioxide at 15 in comparison to 6 which suggests that the higher the free sulfer
#dioxide the higher the quality

#Higher free sulfer dioxide = Higher wine quality

#Quality 5 has a higher mean total sulfer dioxide at 47 in comparison to 15 which suggests the higher the total sulfer dioxide
#the higher the quality

#Higher total sulfer dioxide = Higher wine quality

#Quality 5 has a lower mean density at 0.997 in comparison to 0.997565 which suggests that the lower the density the higher
#the quality

#Lower density = Higher wine quality

#Quality 5 has a lower ph at 3.30 in comparison to 3.39 which suggests that the lower the ph the higher the quality

#Lower ph = Higher wine quality

#Quality 5 has a higher mean sulfates at .58 in comparison to .545 which suggests that the higher the sulfates the higher the 
#quality

#Higher sulfates = Higher wine quality

#Quality 5 has lower mean alcohol at 9.7 in comparison to 9.925 which suggests that the lower the alcohol the higher the quality

#Lower alcohol = Higher wine quality

In [49]:
#Comparison between the mean of quality from 5 through 7, the entire dataframe, and quality 8

#Higher fixed acidity = Higher wine quality
#Lower volatile acidity = Higher wine quality
#Higher citric acid = Higher wine quality
#Lower residual sugar = Higher wine quality
#Lower chlorides = Higher wine quality
#Lower free sulfade dioxide = Higher wine quality
#Lower total sulfer dioxide = Higher wine quality
#Lower density = Higher wine quality
#Lower ph = Higher wine quality
#High sulfates = Higher wine quality
#Higher alcohol = Higher wine quality

#Comparison between the mean of quality 5, quality 6, and quality 7

#Higher fixed acidity = Higher wine quality
#Lower volatile acidity = Higher wine quality
#Higher citric acid = Higher wine quality
#Higher residual sugar = Higher wine quality?
#Lower chloride = Higher wine quality
#Lower free sulfer dioxide = Higher wine quality
#Lower total sulfer dioxide = Higher wine quality
#Lower density = Higher wine quality
#ph ? quality
#Higher sulfates = Higher wine quality
#Higher alcohol = Higher wine quality

#Comparison between the mean of quality 3 and quality 5

#Higher fixed acidity = Higher wine quality
#Lower volatile acidity = Higher wine quality
#Higher citric acid = Higher wine quality
#Higher residual sugar = Higher wine quality
#Lower chlorides = Higher wine quality
#Higher free sulfer dioxide = Higher wine quality
#Higher total sulfe rdioxide = Higher wine quality
#Lower density = Higher wine quality
#Lower ph = Higher wine quality
#Higher sulfates = Higher wine quality
#Lower alcohol = Higher wine quality

#When I added in quality 3 to this comparison it also suggested that the higher residual sugar levels meant higher wine quality.
#However when looking at the levels the mean levels from quality 3 are 2.1 and quality 8 is 2.1 as well which means that there 
#is no direct link there. This latest one also suggested that higher free sulfer dioxide and total sulfer dioxide increased
#quality and if we look at quality 3 vs quality 8 then 8 is higher with 3 having 6 and 15 in comparison to 8 with 7.5 and 21.5.
#There is no obvious explanation as to why there was a massive increase to 5 with a decrease after quality 5, but it could be 
#indirect to the quality of the wine. This one reconfirmed the the lower the ph the higher the wine quality. More weight should
#be put towards the results from 5, 6, and 7 being compared to since those have a lot more data. This one also suggested that 
#the lower the alcohol the higher the quality which could just be due to some outliers.

In [52]:
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [58]:
df[(df['free sulfur dioxide']>14)].describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000
mean,7.983931,0.527895,0.254914,2.625830,0.087276,24.477424,66.864542,0.996615,3.329416,0.668566,10.372820,5.593625
std,1.585404,0.167619,0.182979,1.611625,0.050290,8.976855,33.112552,0.001937,0.158028,0.187954,1.059319,0.739869
min,4.700000,0.160000,0.000000,0.900000,0.012000,15.000000,20.000000,0.990070,2.740000,0.390000,8.500000,3.000000
25%,7.000000,0.400000,0.090000,1.900000,0.071000,17.000000,43.000000,0.995460,3.230000,0.550000,9.500000,5.000000
50%,7.700000,0.530000,0.250000,2.200000,0.079000,22.000000,59.000000,0.996600,3.330000,0.620000,10.100000,6.000000
75%,8.800000,0.630000,0.380000,2.600000,0.089000,29.000000,86.000000,0.997800,3.420000,0.740000,11.000000,6.000000
max,15.900000,1.240000,1.000000,15.400000,0.610000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [59]:
df[(df['free sulfur dioxide']<14)].describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,796.000000,796.000000,796.000000,796.000000,796.000000,796.000000,796.000000,796.000000,796.000000,796.000000,796.000000,796.000000
mean,8.661809,0.527362,0.289234,2.478141,0.087376,7.854899,27.447236,0.996899,3.293003,0.649133,10.472508,5.677136
std,1.833284,0.190626,0.204785,1.227883,0.043496,2.998216,18.770001,0.001844,0.149487,0.152083,1.067423,0.871653
min,4.600000,0.120000,0.000000,1.200000,0.039000,1.000000,6.000000,0.991500,2.860000,0.330000,8.400000,3.000000
25%,7.300000,0.380000,0.100000,1.900000,0.069000,5.875000,15.000000,0.995768,3.200000,0.550000,9.500000,5.000000
50%,8.300000,0.520000,0.280000,2.200000,0.079000,7.000000,22.000000,0.996800,3.290000,0.620000,10.200000,6.000000
75%,9.900000,0.650000,0.460000,2.600000,0.091000,10.000000,32.000000,0.997903,3.380000,0.720000,11.200000,6.000000
max,15.600000,1.580000,0.760000,15.500000,0.611000,13.000000,119.000000,1.003200,3.900000,1.560000,14.000000,8.000000

In [60]:
df[(df['free sulfur dioxide']==14)].describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,50.000000,50.000000,50.000000,50.000000,50.000000,50.0,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,7.928000,0.534000,0.222200,2.194000,0.091780,14.0,42.100000,0.996304,3.323800,0.644800,10.390000,5.620000
std,1.402482,0.157561,0.177503,0.457772,0.052086,0.0,21.374455,0.001607,0.144447,0.128257,1.117441,0.696639
min,5.100000,0.230000,0.000000,1.500000,0.044000,14.0,19.000000,0.992520,3.030000,0.460000,9.000000,4.000000
25%,7.025000,0.430000,0.080000,1.900000,0.071500,14.0,28.000000,0.995383,3.210000,0.560000,9.425000,5.000000
50%,7.750000,0.550000,0.220000,2.100000,0.081500,14.0,36.000000,0.996625,3.340000,0.620000,10.300000,6.000000
75%,8.600000,0.630000,0.350000,2.375000,0.096750,14.0,45.750000,0.997200,3.402500,0.670000,11.000000,6.000000
max,11.500000,1.180000,0.680000,3.900000,0.415000,14.0,111.000000,0.999650,3.620000,1.060000,13.300000,7.000000

In [65]:
df.groupby('quality').count()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
quality,,,,,,,,,,,
3,10,10,10,10,10,10,10,10,10,10,10
4,53,53,53,53,53,53,53,53,53,53,53
5,681,681,681,681,681,681,681,681,681,681,681
6,638,638,638,638,638,638,638,638,638,638,638
7,199,199,199,199,199,199,199,199,199,199,199
8,18,18,18,18,18,18,18,18,18,18,18

In [66]:
gt=df[(df['free sulfur dioxide']>14)]
lt=df[(df['free sulfur dioxide']<14)]
eq=df[(df['free sulfur dioxide']==14)]

In [67]:
gt.groupby('quality').count()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
quality,,,,,,,,,,,
3,3,3,3,3,3,3,3,3,3,3,3
4,15,15,15,15,15,15,15,15,15,15,15
5,351,351,351,351,351,351,351,351,351,351,351
6,307,307,307,307,307,307,307,307,307,307,307
7,70,70,70,70,70,70,70,70,70,70,70
8,7,7,7,7,7,7,7,7,7,7,7

In [68]:
lt.groupby('quality').count()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
quality,,,,,,,,,,,
3,7,7,7,7,7,7,7,7,7,7,7
4,35,35,35,35,35,35,35,35,35,35,35
5,314,314,314,314,314,314,314,314,314,314,314
6,303,303,303,303,303,303,303,303,303,303,303
7,126,126,126,126,126,126,126,126,126,126,126
8,11,11,11,11,11,11,11,11,11,11,11

In [69]:
eq.groupby('quality').count()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
quality,,,,,,,,,,,
4,3,3,3,3,3,3,3,3,3,3,3
5,16,16,16,16,16,16,16,16,16,16,16
6,28,28,28,28,28,28,28,28,28,28,28
7,3,3,3,3,3,3,3,3,3,3,3

In [74]:
df=df.rename(columns = {'fixed acidity':'fixed_acidity','volatile acidity':'volatile_acidity','citric acid':'citric_acid'
                     ,'residual sugar':'residual_sugar','free sulfur dioxide':'free_sulfur_dioxide','total sulfur dioxide':
                    'total_sulfur_dioxide'})

In [105]:
df.query('free_sulfur_dioxide>14')['quality'].describe()

count    753.000000
mean       5.593625
std        0.739869
min        3.000000
25%        5.000000
50%        6.000000
75%        6.000000
max        8.000000
Name: quality, dtype: float64

In [106]:
df.query('free_sulfur_dioxide<14')['quality'].describe()

count    796.000000
mean       5.677136
std        0.871653
min        3.000000
25%        5.000000
50%        6.000000
75%        6.000000
max        8.000000
Name: quality, dtype: float64

In [107]:
df.query('free_sulfur_dioxide==14')['quality'].describe()

count    50.000000
mean      5.620000
std       0.696639
min       4.000000
25%       5.000000
50%       6.000000
75%       6.000000
max       7.000000
Name: quality, dtype: float64

In [108]:
#When looking at the descirbe for free sulfer dioxide and looking around the mean the quality stays the same in the min, max,
#and quantile. When it is eqal to the mean the .5 and .75 stay the same, the min increase by 1, and the max decrease by 1.
#Overall this shows that the free sulfer dioxide has minimal affect

In [109]:
df.query('total_sulfur_dioxide>38')['quality'].describe()

count    774.000000
mean       5.516796
std        0.725868
min        3.000000
25%        5.000000
50%        5.000000
75%        6.000000
max        8.000000
Name: quality, dtype: float64

In [110]:
df.query('total_sulfur_dioxide<38')['quality'].describe()

count    794.000000
mean       5.750630
std        0.870292
min        3.000000
25%        5.000000
50%        6.000000
75%        6.000000
max        8.000000
Name: quality, dtype: float64

In [111]:
df.query('total_sulfur_dioxide==38')['quality'].describe()

count    31.000000
mean      5.677419
std       0.652538
min       5.000000
25%       5.000000
50%       6.000000
75%       6.000000
max       7.000000
Name: quality, dtype: float64

In [112]:
#When it comes to total sulfur dioxide it does appear to have a greater affect then free sulfur dioxide. For the most part both
#less than and greater than the median are the same except when greater than the median the .25 and .5 mark was quality 5, but
#in less than .5 is 6. The exact median is also all 5, 6,and 7s which does lean towards it is better to be median or less it is
#more likely to be greater than 5.

In [124]:
df['pH'].describe()

count    1599.000000
mean        3.311113
std         0.154386
min         2.740000
25%         3.210000
50%         3.310000
75%         3.400000
max         4.010000
Name: pH, dtype: float64

In [114]:
df.query('pH>3.31')['quality'].describe()

count    777.000000
mean       5.597169
std        0.805037
min        3.000000
25%        5.000000
50%        6.000000
75%        6.000000
max        8.000000
Name: quality, dtype: float64

In [115]:
df.query('pH<3.31')['quality'].describe()

count    783.000000
mean       5.675607
std        0.805674
min        3.000000
25%        5.000000
50%        6.000000
75%        6.000000
max        8.000000
Name: quality, dtype: float64

In [116]:
df.query('pH==3.31')['quality'].describe()

count    39.000000
mean      5.615385
std       0.877058
min       3.000000
25%       5.000000
50%       6.000000
75%       6.000000
max       7.000000
Name: quality, dtype: float64

In [117]:
#When it came to pH it does appear that it has little affect since both greater than and less than are the same in terms of 
#quantile, min, and max. For the most part equal is the same as well except max is 7 instead of 8, but that could be due to the
#smaller size as well.

In [125]:
df['fixed_acidity'].describe()

count    1599.000000
mean        8.319637
std         1.741096
min         4.600000
25%         7.100000
50%         7.900000
75%         9.200000
max        15.900000
Name: fixed_acidity, dtype: float64

In [119]:
df.query('fixed_acidity>7.9')['quality'].describe()

count    783.000000
mean       5.722861
std        0.828567
min        3.000000
25%        5.000000
50%        6.000000
75%        6.000000
max        8.000000
Name: quality, dtype: float64

In [120]:
df.query('fixed_acidity<7.9')['quality'].describe()

count    774.000000
mean       5.540052
std        0.771634
min        3.000000
25%        5.000000
50%        5.000000
75%        6.000000
max        8.000000
Name: quality, dtype: float64

In [121]:
df.query('fixed_acidity==7.9')['quality'].describe()

count    42.000000
mean      5.785714
std       0.870540
min       4.000000
25%       5.000000
50%       6.000000
75%       6.000000
max       8.000000
Name: quality, dtype: float64

In [122]:
#When it comes to fixed acidity it appears to have some affect both greater than and less than are similer except less than
#has 5 in both the .5 and .25 and greater than has 6 in the .5 spot. Equals mostly matches greater than, but it has a 4 for min
#instead of 3. Which does support that the higher the fixed acidity the higher the quality.

In [126]:
df['volatile_acidity'].describe()

count    1599.000000
mean        0.527821
std         0.179060
min         0.120000
25%         0.390000
50%         0.520000
75%         0.640000
max         1.580000
Name: volatile_acidity, dtype: float64

In [103]:
df.query('volatile_acidity>0.52')['quality'].describe()

count    783.000000
mean       5.381865
std        0.733578
min        3.000000
25%        5.000000
50%        5.000000
75%        6.000000
max        8.000000
Name: quality, dtype: float64

In [102]:
df.query('volatile_acidity<0.52')['quality'].describe()

count    783.000000
mean       5.890166
std        0.798459
min        3.000000
25%        5.000000
50%        6.000000
75%        6.000000
max        8.000000
Name: quality, dtype: float64

In [101]:
df.query('volatile_acidity==0.52')['quality'].describe()

count    33.000000
mean      5.636364
std       0.822275
min       4.000000
25%       5.000000
50%       6.000000
75%       6.000000
max       7.000000
Name: quality, dtype: float64

In [99]:
#When it comes to volatile acidity both greater than and less than are similar, but less than has a 6 in the .5 spot instead of
#a 5. When it comes to equal the min is increased to 4 from 3 and the max is lowered from 8 to 7. This does support the
#suggestion that the lower the volatile activity the higher the quality.

In [100]:
df['citric_acid'].describe()

count    1599.000000
mean        0.270976
std         0.194801
min         0.000000
25%         0.090000
50%         0.260000
75%         0.420000
max         1.000000
Name: citric_acid, dtype: float64

In [127]:
df.query('citric_acid>0.26')['quality'].describe()

count    767.000000
mean       5.851369
std        0.840440
min        3.000000
25%        5.000000
50%        6.000000
75%        6.000000
max        8.000000
Name: quality, dtype: float64

In [128]:
df.query('citric_acid<0.26')['quality'].describe()

count    794.000000
mean       5.447103
std        0.729731
min        3.000000
25%        5.000000
50%        5.000000
75%        6.000000
max        8.000000
Name: quality, dtype: float64

In [129]:
df.query('citric_acid==0.26')['quality'].describe()

count    38.000000
mean      5.236842
std       0.489578
min       4.000000
25%       5.000000
50%       5.000000
75%       5.750000
max       6.000000
Name: quality, dtype: float64

In [130]:
#When it comes to citric acid this here shows that greater than and less than are very similar except greater than has a 6 in 
#the .5 spot instead of a 5. With equals it shows that the min is increased to 4 and max decreased to 6 and 5s throughout the 
#middle except for .75 that leans towards 6. This does show and support that the higher the citric acid tends to be a higher 
#quality

In [131]:
df['residual_sugar'].describe()

count    1599.000000
mean        2.538806
std         1.409928
min         0.900000
25%         1.900000
50%         2.200000
75%         2.600000
max        15.500000
Name: residual_sugar, dtype: float64

In [132]:
df.query('residual_sugar>2.2')['quality'].describe()

count    716.000000
mean       5.671788
std        0.810655
min        3.000000
25%        5.000000
50%        6.000000
75%        6.000000
max        8.000000
Name: quality, dtype: float64

In [133]:
df.query('residual_sugar<2.2')['quality'].describe()

count    752.000000
mean       5.602394
std        0.801227
min        3.000000
25%        5.000000
50%        6.000000
75%        6.000000
max        8.000000
Name: quality, dtype: float64

In [134]:
df.query('residual_sugar==2.2')['quality'].describe()

count    131.000000
mean       5.633588
std        0.824678
min        3.000000
25%        5.000000
50%        6.000000
75%        6.000000
max        8.000000
Name: quality, dtype: float64

In [135]:
#In the case of residual sugar all of the min, max, and quantiles values are the same. Which shows that residual sugar has
#little to no affect on quality

In [136]:
df['chlorides'].describe()

count    1599.000000
mean        0.087467
std         0.047065
min         0.012000
25%         0.070000
50%         0.079000
75%         0.090000
max         0.611000
Name: chlorides, dtype: float64

In [137]:
df.query('chlorides>0.079')['quality'].describe()

count    791.000000
mean       5.504425
std        0.757857
min        3.000000
25%        5.000000
50%        5.000000
75%        6.000000
max        8.000000
Name: quality, dtype: float64

In [138]:
df.query('chlorides<0.079')['quality'].describe()

count    765.000000
mean       5.776471
std        0.844428
min        3.000000
25%        5.000000
50%        6.000000
75%        6.000000
max        8.000000
Name: quality, dtype: float64

In [139]:
df.query('chlorides==0.079')['quality'].describe()

count    43.000000
mean      5.558140
std       0.589686
min       4.000000
25%       5.000000
50%       6.000000
75%       6.000000
max       7.000000
Name: quality, dtype: float64

In [140]:
#When it comes ot chlorides greater than and less than are pretty similar except less than has a 6 in the .5 spot instead of a
#5. The equals one is similar to less than except it has a 4 in min instead of 3 and a 7 in max instead of 8. This does show
#that the lower the chlorides the higher the quality

In [142]:
df['density'].describe()

count    1599.000000
mean        0.996747
std         0.001887
min         0.990070
25%         0.995600
50%         0.996750
75%         0.997835
max         1.003690
Name: density, dtype: float64

In [145]:
df.query('density>0.996750')['quality'].describe()

count    796.000000
mean       5.538945
std        0.765443
min        3.000000
25%        5.000000
50%        5.000000
75%        6.000000
max        8.000000
Name: quality, dtype: float64

In [146]:
df.query('density<0.996750')['quality'].describe()

count    798.000000
mean       5.731830
std        0.838691
min        3.000000
25%        5.000000
50%        6.000000
75%        6.000000
max        8.000000
Name: quality, dtype: float64

In [147]:
df.query('density==0.996750')['quality'].describe()

count    5.000000
mean     5.800000
std      0.447214
min      5.000000
25%      6.000000
50%      6.000000
75%      6.000000
max      6.000000
Name: quality, dtype: float64

In [148]:
#When it comes to density the less than and greater than are both similar except that less than has a 6 in the .5 spot instead 
#of a 5. Equals is also very differenct with a 5 in the min spot and 6 being everywhere else. Making it appear to lean heavily
#to 6 in equals. Overall this shows that the lower the density the more likely the quality is higher.

In [151]:
df['sulphates'].describe()

count    1599.000000
mean        0.658149
std         0.169507
min         0.330000
25%         0.550000
50%         0.620000
75%         0.730000
max         2.000000
Name: sulphates, dtype: float64

In [152]:
df.query('sulphates>0.62')['quality'].describe()

count    770.000000
mean       5.924675
std        0.822024
min        3.000000
25%        5.000000
50%        6.000000
75%        6.000000
max        8.000000
Name: quality, dtype: float64

In [153]:
df.query('sulphates<0.62')['quality'].describe()

count    768.000000
mean       5.351562
std        0.688022
min        3.000000
25%        5.000000
50%        5.000000
75%        6.000000
max        7.000000
Name: quality, dtype: float64

In [154]:
df.query('sulphates==0.62')['quality'].describe()

count    61.000000
mean      5.573770
std       0.740698
min       4.000000
25%       5.000000
50%       5.000000
75%       6.000000
max       7.000000
Name: quality, dtype: float64

In [155]:
#Sulphates has some differences with greater than having a 6 in the .5 slot instead of a 5 and in max having an 8 instead of a 
#7. Otherwise they are the same. Equals though is similar to less than, but with a 4 in the min instead of a 3. This shows that
#the higher the sulphate the higher the quality.

In [156]:
df['alcohol'].describe()

count    1599.000000
mean       10.422983
std         1.065668
min         8.400000
25%         9.500000
50%        10.200000
75%        11.100000
max        14.900000
Name: alcohol, dtype: float64

In [157]:
df.query('alcohol>10.2')['quality'].describe()

count    757.000000
mean       5.982827
std        0.831567
min        3.000000
25%        6.000000
50%        6.000000
75%        7.000000
max        8.000000
Name: quality, dtype: float64

In [158]:
df.query('alcohol<10.2')['quality'].describe()

count    796.000000
mean       5.310302
std        0.632809
min        3.000000
25%        5.000000
50%        5.000000
75%        6.000000
max        8.000000
Name: quality, dtype: float64

In [159]:
df.query('alcohol==10.2')['quality'].describe()

count    46.000000
mean      5.565217
std       0.749879
min       3.000000
25%       5.000000
50%       6.000000
75%       6.000000
max       7.000000
Name: quality, dtype: float64

In [160]:
#The min and max between less than and greater than are the same, but the quantiles are all different. With greater than having
#one higher in each one having a 6 in the .25 and .5 spots instead of a 5, and a 7 in the .75 spot instead of a 6. The equals
#is similar to less than except it increased .5 to 6 from 5 and decreased max from 8 to 7. Which showed that the greater the
#alcohol the higher the quality.

In [162]:
df.query('sulphates>0.62 & alcohol>10.2')['quality'].describe()

count    446.000000
mean       6.217489
std        0.773005
min        4.000000
25%        6.000000
50%        6.000000
75%        7.000000
max        8.000000
Name: quality, dtype: float64

In [163]:
#When combining both the greater than for sulphates and alcohol which both had an increase on the quality there was an increase.
#With the min being increased to 4 from 3 on the alcohol. In comparison to sulphates though it increased min to 4 from 3. The
#.25 slot increase from 5 to 6 and .75 increased from 6 to 7.

In [164]:
df.query('chlorides<0.079 & alcohol>10.2')['quality'].describe()

count    439.000000
mean       6.075171
std        0.828322
min        4.000000
25%        6.000000
50%        6.000000
75%        7.000000
max        8.000000
Name: quality, dtype: float64

In [165]:
df.query('chlorides<0.079')['quality'].describe()

count    765.000000
mean       5.776471
std        0.844428
min        3.000000
25%        5.000000
50%        6.000000
75%        6.000000
max        8.000000
Name: quality, dtype: float64

In [166]:
#When adding in the less than portion of chlorides to the greater than portion of alcohol to see what the affect is since both
#had a positive increase to the quality the min increased from 3 to 4 when comparing to just the alcohol greater than. When 
#comparing to just the chloride less than though min is increased from 3 to 4, .25 is increased from 5 to 6, and .75 is 
#increased from 6 to 7.

In [167]:
df.query('chlorides<0.079 & alcohol>10.2 & sulphates>0.62')['quality'].describe()

count    263.000000
mean       6.338403
std        0.748745
min        4.000000
25%        6.000000
50%        6.000000
75%        7.000000
max        8.000000
Name: quality, dtype: float64

In [168]:
#When adding in sulphates greater than as well there is no noticable increase in any of the min, max, or quantile

In [169]:
df.query('citric_acid>0.26 & alcohol>10.2')['quality'].describe()

count    437.000000
mean       6.169336
std        0.794865
min        4.000000
25%        6.000000
50%        6.000000
75%        7.000000
max        8.000000
Name: quality, dtype: float64

In [170]:
df.query('citric_acid>0.26')['quality'].describe()

count    767.000000
mean       5.851369
std        0.840440
min        3.000000
25%        5.000000
50%        6.000000
75%        6.000000
max        8.000000
Name: quality, dtype: float64

In [171]:
#When citric acid is added in with alcohol it does a similar affect to alcohol as the other columns affected it with a increase
#to the min, 0.25, and 0.75 for citric acid

In [172]:
df.query('chlorides<0.079 & alcohol>10.2 & sulphates>0.62 & citric_acid>0.26')['quality'].describe()

count    179.000000
mean       6.418994
std        0.755413
min        5.000000
25%        6.000000
50%        6.000000
75%        7.000000
max        8.000000
Name: quality, dtype: float64

In [ ]:
#When citric acid is added with the others it is the first one that has had an additional affect by increasing the min to 5
#from 4