In [0]:
from pyspark.sql import SparkSession

In [0]:
sc = SparkSession.builder.appName('spark_df').getOrCreate()

In [0]:
path='/FileStore/tables/Bank_churn_modelling___Copy.csv'

In [0]:
df=spark.read.csv(path,header=True,inferSchema=True)

In [0]:
df.show()

+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|RowNumber|CustomerId|  Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|        1|  15634602| Hargrave|        619|   France|Female| 42|     2|      0.0|            1|        1|             1|      101348.88|     1|
|        2|  15647311|     Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|        0|             1|      112542.58|     0|
|        3|  15619304|     Onio|        502|   France|Female| 42|     8| 159660.8|            3|        1|             0|      113931.57|     1|
|        4|  15701354|     Boni|        699|   France|Female| 39|     1|      0.0|            2|        0|             0|       93826.63|     0|
|        5|  15737888| Mitchell|        850|    Spain|Female|abc|     2|125510.82|            1|        1|             1|        79084.1|     0|
|        6|  15574012|      Chu|        645|    Spain|  Male| 44|     8|113755.78|            2|        1|             0|      149756.71|     1|
|        7|  15592531| Bartlett|        822|   France|  Male| 50|     7|      0.0|            2|        1|             1|        10062.8|     0|
|        8|  15656148|   Obinna|        376|  Germany|Female| 29|     4|115046.74|            4|        1|             0|      119346.88|     1|
|        9|  15792365|       He|        501|   France|  Male| 44|     4|142051.07|            2|        0|             1|        74940.5|     0|
|       10|  15592389|       H?|        684|   France|  Male| 27|     2|134603.88|            1|        1|             1|       71725.73|     0|
|       11|  15767821|   Bearce|        528|   France|  Male| 31|     6|102016.72|            2|        0|             0|       80181.12|     0|
|       12|  15737173|  Andrews|        497|    Spain|  Male| 24|     3|      0.0|            2|        1|             0|       76390.01|     0|
|       13|  15632264|      Kay|        476|   France|Female| 34|    10|      0.0|            2|        1|             0|       26260.98|     0|
|       14|  15691483|     Chin|        549|   France|Female| 25|     5|      0.0|            2|        0|             0|      190857.79|     0|
|       15|  15600882|    Scott|        635|    Spain|Female| 35|     7|      0.0|            2|        1|             1|       65951.65|     0|
|       16|  15643966|  Goforth|        616|  Germany|  Male| 45|     3|143129.41|            2|        0|             1|       64327.26|     0|
|       17|  15737452|    Romeo|        653|  Germany|  Male| 58|     1|132602.88|            1|        1|             0|        5097.67|     1|
|       18|  15788218|Henderson|        549|    Spain|Female| 24|     9|      0.0|            2|        1|             1|       14406.41|     0|
|       19|  15661507|  Muldrow|        587|    Spain|  Male| 45|     6|      0.0|            1|        0|             0|      158684.81|     0|
|       20|  15568982|      Hao|        726|   France|Female| 24|     6|      0.0|            2|        1|             1|       54724.03|     0|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
only showing top 20 rows

In [0]:
mkdir new

In [0]:
cd new

/databricks/driver/new

In [0]:
cd ../

/databricks/driver

In [0]:
cd root

[Errno 2] No such file or directory: 'root'
/databricks/driver

In [0]:
cd ../

/databricks

In [0]:
cd ../

/

In [0]:
ls

BUILD*      boot/        dev/   lib@    libx32@       mnt/   root/  srv/  usr/
Workspace/  databricks/  etc/   lib32@  local_disk0/  opt/   run/   sys/  var/
bin@        dbfs/        home/  lib64@  media/        proc/  sbin@  tmp/

In [0]:
cd root/

/root

In [0]:
ls

In [0]:
df.columns

Out[22]: ['RowNumber',
 'CustomerId',
 'Surname',
 'CreditScore',
 'Geography',
 'Gender',
 'Age',
 'Tenure',
 'Balance',
 'NumOfProducts',
 'HasCrCard',
 'IsActiveMember',
 'EstimatedSalary',
 'Exited']

In [0]:
df.count()

Out[23]: 10000

In [0]:
df.show(5)

+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|RowNumber|CustomerId| Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|        1|  15634602|Hargrave|        619|   France|Female| 42|     2|      0.0|            1|        1|             1|      101348.88|     1|
|        2|  15647311|    Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|        0|             1|      112542.58|     0|
|        3|  15619304|    Onio|        502|   France|Female| 42|     8| 159660.8|            3|        1|             0|      113931.57|     1|
|        4|  15701354|    Boni|        699|   France|Female| 39|     1|      0.0|            2|        0|             0|       93826.63|     0|
|        5|  15737888|Mitchell|        850|    Spain|Female|abc|     2|125510.82|            1|        1|             1|        79084.1|     0|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
only showing top 5 rows

In [0]:
df.dtypes

Out[25]: [('RowNumber', 'int'),
 ('CustomerId', 'int'),
 ('Surname', 'string'),
 ('CreditScore', 'int'),
 ('Geography', 'string'),
 ('Gender', 'string'),
 ('Age', 'string'),
 ('Tenure', 'int'),
 ('Balance', 'double'),
 ('NumOfProducts', 'int'),
 ('HasCrCard', 'int'),
 ('IsActiveMember', 'int'),
 ('EstimatedSalary', 'double'),
 ('Exited', 'int')]

In [0]:
df.printSchema()

root
 |-- RowNumber: integer (nullable = true)
 |-- CustomerId: integer (nullable = true)
 |-- Surname: string (nullable = true)
 |-- CreditScore: integer (nullable = true)
 |-- Geography: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Tenure: integer (nullable = true)
 |-- Balance: double (nullable = true)
 |-- NumOfProducts: integer (nullable = true)
 |-- HasCrCard: integer (nullable = true)
 |-- IsActiveMember: integer (nullable = true)
 |-- EstimatedSalary: double (nullable = true)
 |-- Exited: integer (nullable = true)

In [0]:
df.tail(5)

Out[32]: [Row(RowNumber=9996, CustomerId=15606229, Surname='Obijiaku', CreditScore=771, Geography='France', Gender='Male', Age='39', Tenure=5, Balance=0.0, NumOfProducts=2, HasCrCard=1, IsActiveMember=0, EstimatedSalary=96270.64, Exited=0),
 Row(RowNumber=9997, CustomerId=15569892, Surname='Johnstone', CreditScore=516, Geography='France', Gender='Male', Age='35', Tenure=10, Balance=57369.61, NumOfProducts=1, HasCrCard=1, IsActiveMember=1, EstimatedSalary=101699.77, Exited=0),
 Row(RowNumber=9998, CustomerId=15584532, Surname='Liu', CreditScore=709, Geography='France', Gender='Female', Age='36', Tenure=7, Balance=0.0, NumOfProducts=1, HasCrCard=0, IsActiveMember=1, EstimatedSalary=42085.58, Exited=1),
 Row(RowNumber=9999, CustomerId=15682355, Surname='Sabbatini', CreditScore=772, Geography='Germany', Gender='Male', Age='42', Tenure=3, Balance=75075.31, NumOfProducts=2, HasCrCard=1, IsActiveMember=0, EstimatedSalary=92888.52, Exited=1),
 Row(RowNumber=10000, CustomerId=15628319, Surname='Walker', CreditScore=792, Geography='France', Gender='Female', Age='28', Tenure=4, Balance=130142.79, NumOfProducts=1, HasCrCard=1, IsActiveMember=0, EstimatedSalary=38190.78, Exited=0)]

In [0]:
df.head(5)

Out[29]: [Row(RowNumber=1, CustomerId=15634602, Surname='Hargrave', CreditScore=619, Geography='France', Gender='Female', Age='42', Tenure=2, Balance=0.0, NumOfProducts=1, HasCrCard=1, IsActiveMember=1, EstimatedSalary=101348.88, Exited=1),
 Row(RowNumber=2, CustomerId=15647311, Surname='Hill', CreditScore=608, Geography='Spain', Gender='Female', Age='41', Tenure=1, Balance=83807.86, NumOfProducts=1, HasCrCard=0, IsActiveMember=1, EstimatedSalary=112542.58, Exited=0),
 Row(RowNumber=3, CustomerId=15619304, Surname='Onio', CreditScore=502, Geography='France', Gender='Female', Age='42', Tenure=8, Balance=159660.8, NumOfProducts=3, HasCrCard=1, IsActiveMember=0, EstimatedSalary=113931.57, Exited=1),
 Row(RowNumber=4, CustomerId=15701354, Surname='Boni', CreditScore=699, Geography='France', Gender='Female', Age='39', Tenure=1, Balance=0.0, NumOfProducts=2, HasCrCard=0, IsActiveMember=0, EstimatedSalary=93826.63, Exited=0),
 Row(RowNumber=5, CustomerId=15737888, Surname='Mitchell', CreditScore=850, Geography='Spain', Gender='Female', Age='abc', Tenure=2, Balance=125510.82, NumOfProducts=1, HasCrCard=1, IsActiveMember=1, EstimatedSalary=79084.1, Exited=0)]

In [0]:
df.head(5).tail(5)

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<command-2725594853690510> in <module>
----> 1 df.head(5).tail(5)

AttributeError: 'list' object has no attribute 'tail'

In [0]:
df.select('Age','CreditScore').show(10)

+---+-----------+
|Age|CreditScore|
+---+-----------+
| 42|        619|
| 41|        608|
| 42|        502|
| 39|        699|
|abc|        850|
| 44|        645|
| 50|        822|
| 29|        376|
| 44|        501|
| 27|        684|
+---+-----------+
only showing top 10 rows

In [0]:
#Add column
df.withColumn('n_age',df['age']+10).show(20)

+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+-----+
|RowNumber|CustomerId|  Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|n_age|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+-----+
|        1|  15634602| Hargrave|        619|   France|Female| 42|     2|      0.0|            1|        1|             1|      101348.88|     1| 52.0|
|        2|  15647311|     Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|        0|             1|      112542.58|     0| 51.0|
|        3|  15619304|     Onio|        502|   France|Female| 42|     8| 159660.8|            3|        1|             0|      113931.57|     1| 52.0|
|        4|  15701354|     Boni|        699|   France|Female| 39|     1|      0.0|            2|        0|             0|       93826.63|     0| 49.0|
|        5|  15737888| Mitchell|        850|    Spain|Female|abc|     2|125510.82|            1|        1|             1|        79084.1|     0| null|
|        6|  15574012|      Chu|        645|    Spain|  Male| 44|     8|113755.78|            2|        1|             0|      149756.71|     1| 54.0|
|        7|  15592531| Bartlett|        822|   France|  Male| 50|     7|      0.0|            2|        1|             1|        10062.8|     0| 60.0|
|        8|  15656148|   Obinna|        376|  Germany|Female| 29|     4|115046.74|            4|        1|             0|      119346.88|     1| 39.0|
|        9|  15792365|       He|        501|   France|  Male| 44|     4|142051.07|            2|        0|             1|        74940.5|     0| 54.0|
|       10|  15592389|       H?|        684|   France|  Male| 27|     2|134603.88|            1|        1|             1|       71725.73|     0| 37.0|
|       11|  15767821|   Bearce|        528|   France|  Male| 31|     6|102016.72|            2|        0|             0|       80181.12|     0| 41.0|
|       12|  15737173|  Andrews|        497|    Spain|  Male| 24|     3|      0.0|            2|        1|             0|       76390.01|     0| 34.0|
|       13|  15632264|      Kay|        476|   France|Female| 34|    10|      0.0|            2|        1|             0|       26260.98|     0| 44.0|
|       14|  15691483|     Chin|        549|   France|Female| 25|     5|      0.0|            2|        0|             0|      190857.79|     0| 35.0|
|       15|  15600882|    Scott|        635|    Spain|Female| 35|     7|      0.0|            2|        1|             1|       65951.65|     0| 45.0|
|       16|  15643966|  Goforth|        616|  Germany|  Male| 45|     3|143129.41|            2|        0|             1|       64327.26|     0| 55.0|
|       17|  15737452|    Romeo|        653|  Germany|  Male| 58|     1|132602.88|            1|        1|             0|        5097.67|     1| 68.0|
|       18|  15788218|Henderson|        549|    Spain|Female| 24|     9|      0.0|            2|        1|             1|       14406.41|     0| 34.0|
|       19|  15661507|  Muldrow|        587|    Spain|  Male| 45|     6|      0.0|            1|        0|             0|      158684.81|     0| 55.0|
|       20|  15568982|      Hao|        726|   France|Female| 24|     6|      0.0|            2|        1|             1|       54724.03|     0| 34.0|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+-----+
only showing top 20 rows

In [0]:
#Filter row
df.filter(df['Gender']=='Male').show(5)

+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|RowNumber|CustomerId| Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|        6|  15574012|     Chu|        645|    Spain|  Male| 44|     8|113755.78|            2|        1|             0|      149756.71|     1|
|        7|  15592531|Bartlett|        822|   France|  Male| 50|     7|      0.0|            2|        1|             1|        10062.8|     0|
|        9|  15792365|      He|        501|   France|  Male| 44|     4|142051.07|            2|        0|             1|        74940.5|     0|
|       10|  15592389|      H?|        684|   France|  Male| 27|     2|134603.88|            1|        1|             1|       71725.73|     0|
|       11|  15767821|  Bearce|        528|   France|  Male| 31|     6|102016.72|            2|        0|             0|       80181.12|     0|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
only showing top 5 rows

In [0]:
df.filter((df['Gender']=='Male') & (df['age']>50)).show(5)

+---------+----------+----------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|RowNumber|CustomerId|   Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+----------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|       17|  15737452|     Romeo|        653|  Germany|  Male| 58|     1|132602.88|            1|        1|             0|        5097.67|     1|
|       60|  15804771| Velazquez|        614|   France|  Male| 51|     4| 40685.92|            1|        1|             1|       46775.28|     0|
|       64|  15751208|   Pirozzi|        684|    Spain|  Male| 56|     8| 78707.16|            1|        1|             1|       99398.36|     0|
|       71|  15703793|Konovalova|        738|  Germany|  Male| 58|     2|133745.44|            4|        1|             0|       28373.86|     1|
|       77|  15614049|        Hu|        664|   France|  Male| 55|     8|      0.0|            2|        1|             1|      139161.64|     0|
+---------+----------+----------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
only showing top 5 rows

In [0]:
df.filter((df['Gender']=='Male') & (df['age']>50)).count()

Out[39]: 657

In [0]:
df.where(df['Exited']==1).show()

+---------+----------+----------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|RowNumber|CustomerId|   Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+----------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|        1|  15634602|  Hargrave|        619|   France|Female| 42|     2|      0.0|            1|        1|             1|      101348.88|     1|
|        3|  15619304|      Onio|        502|   France|Female| 42|     8| 159660.8|            3|        1|             0|      113931.57|     1|
|        6|  15574012|       Chu|        645|    Spain|  Male| 44|     8|113755.78|            2|        1|             0|      149756.71|     1|
|        8|  15656148|    Obinna|        376|  Germany|Female| 29|     4|115046.74|            4|        1|             0|      119346.88|     1|
|       17|  15737452|     Romeo|        653|  Germany|  Male| 58|     1|132602.88|            1|        1|             0|        5097.67|     1|
|       23|  15699309| Gerasimov|        510|    Spain|Female| 38|     4|      0.0|            1|        1|             0|      118913.53|     1|
|       31|  15589475|   Azikiwe|        591|    Spain|Female| 39|     3|      0.0|            3|        1|             0|      140469.38|     1|
|       36|  15794171|  Lombardo|        475|   France|Female| 45|     0|134264.04|            1|        1|             0|       27822.99|     1|
|       42|  15738148|    Clarke|        465|   France|Female| 51|     8|122522.32|            1|        0|             0|      181297.65|     1|
|       44|  15755196|    Lavine|        834|   France|Female| 49|     2|131394.56|         null|        0|             0|      194365.76|     1|
|       47|  15602280|    Martin|        829|  Germany|Female| 27|     9|112045.67|            1|        1|             1|      119708.21|     1|
|       48|  15771573|   Okagbue|        637|  Germany|Female| 39|     9| 137843.8|            1|        1|             1|       117622.8|     1|
|       54|  15702298|  Parkhill|        655|  Germany|  Male| 41|     8|125561.97|            1|        0|             0|      164040.94|     1|
|       55|  15569590|       Yoo|        601|  Germany|  Male| 42|     1| 98495.72|            1|        1|             0|       40014.76|     1|
|       59|  15623944|     T'ien|        511|    Spain|Female| 66|     4|      0.0|            1|        1|             0|        1643.11|     1|
|       71|  15703793|Konovalova|        738|  Germany|  Male| 58|     2|133745.44|            4|        1|             0|       28373.86|     1|
|       82|  15663706|   Leonard|        777|   France|Female| 32|     2|      0.0|            1|        1|             0|      136458.19|     1|
|       87|  15762418|      Gant|        750|    Spain|  Male| 22|     3|121681.82|            1|        1|             0|      128643.35|     1|
|       89|  15622897|    Sharpe|        646|   France|Female| 46|     4|      0.0|            3|        1|             0|       93251.42|     1|
|       91|  15757535|      Heap|        647|    Spain|Female| 44|     5|      0.0|            3|        1|             1|      174205.22|     1|
+---------+----------+----------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
only showing top 20 rows

In [0]:
df.where(df['Exited']==1).count()

Out[41]: 2037

In [0]:
#Union or Appending

df2=df.head(5)

In [0]:
newdf=sc.createDataFrame(df2,schema=df.schema)

In [0]:
df.printSchema()

root
 |-- RowNumber: integer (nullable = true)
 |-- CustomerId: integer (nullable = true)
 |-- Surname: string (nullable = true)
 |-- CreditScore: integer (nullable = true)
 |-- Geography: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Tenure: integer (nullable = true)
 |-- Balance: double (nullable = true)
 |-- NumOfProducts: integer (nullable = true)
 |-- HasCrCard: integer (nullable = true)
 |-- IsActiveMember: integer (nullable = true)
 |-- EstimatedSalary: double (nullable = true)
 |-- Exited: integer (nullable = true)

In [0]:
newdf.show()

+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|RowNumber|CustomerId| Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|        1|  15634602|Hargrave|        619|   France|Female| 42|     2|      0.0|            1|        1|             1|      101348.88|     1|
|        2|  15647311|    Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|        0|             1|      112542.58|     0|
|        3|  15619304|    Onio|        502|   France|Female| 42|     8| 159660.8|            3|        1|             0|      113931.57|     1|
|        4|  15701354|    Boni|        699|   France|Female| 39|     1|      0.0|            2|        0|             0|       93826.63|     0|
|        5|  15737888|Mitchell|        850|    Spain|Female|abc|     2|125510.82|            1|        1|             1|        79084.1|     0|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+

In [0]:
df.describe('Age').show()

+-------+------------------+
|summary|               Age|
+-------+------------------+
|  count|             10000|
|   mean| 38.92139213921392|
| stddev|10.488251622961926|
|    min|                18|
|    max|               abc|
+-------+------------------+

In [0]:
def power(a):
    return a**2
power(10)

Out[55]: 100

In [0]:
from pyspark.sql.functions import udf

In [0]:
power_udf=udf(power)

In [0]:
df.select(power_udf(df['Tenure'])).show()

+-------------+
|power(Tenure)|
+-------------+
|            4|
|            1|
|           64|
|            1|
|            4|
|           64|
|           49|
|           16|
|           16|
|            4|
|           36|
|            9|
|          100|
|           25|
|           49|
|            9|
|            1|
|           81|
|           36|
|           36|
+-------------+
only showing top 20 rows

In [0]:
df.select(df['Tenure']).show()

+------+
|Tenure|
+------+
|     2|
|     1|
|     8|
|     1|
|     2|
|     8|
|     7|
|     4|
|     4|
|     2|
|     6|
|     3|
|    10|
|     5|
|     7|
|     3|
|     1|
|     9|
|     6|
|     6|
+------+
only showing top 20 rows

In [0]:
from pyspark.sql.functions import max, mean, min, corr, stddev, kurtosis, skewness

In [0]:
df.select(max('CreditScore'),min('CreditScore'),mean('CreditScore'),skewness('CreditScore'),kurtosis('CreditScore')).show()

+----------------+----------------+-----------------+---------------------+---------------------+
|max(CreditScore)|min(CreditScore)| avg(CreditScore)|skewness(CreditScore)|kurtosis(CreditScore)|
+----------------+----------------+-----------------+---------------------+---------------------+
|             850|             350|650.5213521352135| -0.07141323510205573| -0.42612181583903075|
+----------------+----------------+-----------------+---------------------+---------------------+

In [0]:
df1=sc.read.csv('/FileStore/tables/CountryCode.csv',header=True,inferSchema=True)
df2=sc.read.csv('/FileStore/tables/zomato.csv',header=True,inferSchema=True)

In [0]:
df1.printSchema()

root
 |-- cc: integer (nullable = true)
 |-- Country: string (nullable = true)

In [0]:
df2.printSchema()

root
 |-- Restaurant ID: string (nullable = true)
 |-- Restaurant Name: string (nullable = true)
 |-- cc: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Locality: string (nullable = true)
 |-- Locality Verbose: string (nullable = true)
 |-- Longitude: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Cuisines: string (nullable = true)
 |-- Average Cost for two: string (nullable = true)
 |-- Currency: string (nullable = true)
 |-- Has Table booking: string (nullable = true)
 |-- Has Online delivery: string (nullable = true)
 |-- Is delivering now: string (nullable = true)
 |-- Switch to order menu: string (nullable = true)
 |-- Price range: string (nullable = true)
 |-- Aggregate rating: string (nullable = true)
 |-- Rating color: string (nullable = true)
 |-- Rating text: string (nullable = true)
 |-- Votes: integer (nullable = true)

In [0]:
df1.show(5)

+---+---------+
| cc|  Country|
+---+---------+
|  1|    India|
| 14|Australia|
| 30|   Brazil|
| 37|   Canada|
| 94|Indonesia|
+---+---------+
only showing top 5 rows

In [0]:
df2.show(5)

+-------------+--------------------+---+----------------+--------------------+--------------------+--------------------+----------+---------+--------------------+--------------------+----------------+-----------------+-------------------+-----------------+--------------------+-----------+----------------+------------+-----------+-----+
|Restaurant ID|     Restaurant Name| cc|            City|             Address|            Locality|    Locality Verbose| Longitude| Latitude|            Cuisines|Average Cost for two|        Currency|Has Table booking|Has Online delivery|Is delivering now|Switch to order menu|Price range|Aggregate rating|Rating color|Rating text|Votes|
+-------------+--------------------+---+----------------+--------------------+--------------------+--------------------+----------+---------+--------------------+--------------------+----------------+-----------------+-------------------+-----------------+--------------------+-----------+----------------+------------+-----------+-----+
|      6317637|    Le Petit Souffle|162|     Makati City|Third Floor, Cent...|Century City Mall...|Century City Mall...|121.027535|14.565443|French, Japanese,...|                1100|Botswana Pula(P)|              Yes|                 No|               No|                  No|          3|             4.8|  Dark Green|  Excellent|  314|
|      6304287|    Izakaya Kikufuji|162|     Makati City|Little Tokyo, 227...|Little Tokyo, Leg...|Little Tokyo, Leg...|121.014101|14.553708|            Japanese|                1200|Botswana Pula(P)|              Yes|                 No|               No|                  No|          3|             4.5|  Dark Green|  Excellent|  591|
|      6300002|Heat - Edsa Shang...|162|Mandaluyong City|Edsa Shangri-La, ...|Edsa Shangri-La, ...|Edsa Shangri-La, ...|121.056831|14.581404|Seafood, Asian, F...|                4000|Botswana Pula(P)|              Yes|                 No|               No|                  No|          4|             4.4|       Green|  Very Good|  270|
|      6318506|                Ooma|162|Mandaluyong City|Third Floor, Mega...|SM Megamall, Orti...|SM Megamall, Orti...|121.056475|14.585318|     Japanese, Sushi|                1500|Botswana Pula(P)|               No|                 No|               No|                  No|          4|             4.9|  Dark Green|  Excellent|  365|
|      6314302|         Sambo Kojin|162|Mandaluyong City|Third Floor, Mega...|SM Megamall, Orti...|SM Megamall, Orti...|121.057508| 14.58445|    Japanese, Korean|                1500|Botswana Pula(P)|              Yes|                 No|               No|                  No|          4|             4.8|  Dark Green|  Excellent|  229|
+-------------+--------------------+---+----------------+--------------------+--------------------+--------------------+----------+---------+--------------------+--------------------+----------------+-----------------+-------------------+-----------------+--------------------+-----------+----------------+------------+-----------+-----+
only showing top 5 rows

In [0]:
expression=df1['cc']==df2['cc']
join_type='inner'

In [0]:
data=df2.join(df1,expression,join_type)

In [0]:
data.show()

+-------------+--------------------+---+----------------+--------------------+--------------------+--------------------+-----------+-----------+--------------------+--------------------+----------------+-----------------+-------------------+-----------------+--------------------+-----------+----------------+------------+-----------+-----+---+-----------+
|Restaurant ID|     Restaurant Name| cc|            City|             Address|            Locality|    Locality Verbose|  Longitude|   Latitude|            Cuisines|Average Cost for two|        Currency|Has Table booking|Has Online delivery|Is delivering now|Switch to order menu|Price range|Aggregate rating|Rating color|Rating text|Votes| cc|    Country|
+-------------+--------------------+---+----------------+--------------------+--------------------+--------------------+-----------+-----------+--------------------+--------------------+----------------+-----------------+-------------------+-----------------+--------------------+-----------+----------------+------------+-----------+-----+---+-----------+
|      6317637|    Le Petit Souffle|162|     Makati City|Third Floor, Cent...|Century City Mall...|Century City Mall...| 121.027535|  14.565443|French, Japanese,...|                1100|Botswana Pula(P)|              Yes|                 No|               No|                  No|          3|             4.8|  Dark Green|  Excellent|  314|162|Phillipines|
|      6304287|    Izakaya Kikufuji|162|     Makati City|Little Tokyo, 227...|Little Tokyo, Leg...|Little Tokyo, Leg...| 121.014101|  14.553708|            Japanese|                1200|Botswana Pula(P)|              Yes|                 No|               No|                  No|          3|             4.5|  Dark Green|  Excellent|  591|162|Phillipines|
|      6300002|Heat - Edsa Shang...|162|Mandaluyong City|Edsa Shangri-La, ...|Edsa Shangri-La, ...|Edsa Shangri-La, ...| 121.056831|  14.581404|Seafood, Asian, F...|                4000|Botswana Pula(P)|              Yes|                 No|               No|                  No|          4|             4.4|       Green|  Very Good|  270|162|Phillipines|
|      6318506|                Ooma|162|Mandaluyong City|Third Floor, Mega...|SM Megamall, Orti...|SM Megamall, Orti...| 121.056475|  14.585318|     Japanese, Sushi|                1500|Botswana Pula(P)|               No|                 No|               No|                  No|          4|             4.9|  Dark Green|  Excellent|  365|162|Phillipines|
|      6314302|         Sambo Kojin|162|Mandaluyong City|Third Floor, Mega...|SM Megamall, Orti...|SM Megamall, Orti...| 121.057508|   14.58445|    Japanese, Korean|                1500|Botswana Pula(P)|              Yes|                 No|               No|                  No|          4|             4.8|  Dark Green|  Excellent|  229|162|Phillipines|
|     18189371|        Din Tai Fung|162|Mandaluyong City|Ground Floor, Meg...|SM Megamall, Orti...|SM Megamall, Orti...| 121.056314|  14.583764|             Chinese|                1000|Botswana Pula(P)|               No|                 No|               No|                  No|          3|             4.4|       Green|  Very Good|  336|162|Phillipines|
|      6300781|          Buffet 101|162|      Pasay City|Building K, SM By...|SM by the Bay, Ma...|SM by the Bay, Ma...|120.9796667|14.53133333|     Asian, European|                2000|Botswana Pula(P)|              Yes|                 No|               No|                  No|          4|               4|       Green|  Very Good|  520|162|Phillipines|
|      6301290|             Vikings|162|      Pasay City|Building B, By Th...|SM by the Bay, Ma...|SM by the Bay, Ma...|120.9793333|      14.54|Seafood, Filipino...|                2000|Botswana Pula(P)|              Yes|                 No|               No|                  No|          4|             4.2|       Green|  Very Good|  677|162|Phillipines|
|      6300010|Spiral - Sofitel ...|162|      Pasay City|Plaza Level, Sofi...|Sofitel Philippin...|Sofitel Philippin...|  120.98009|   14.55299|European, Asian, ...|                6000|Botswana Pula(P)|              Yes|                 No|               No|                  No|          4|             4.9|  Dark Green|  Excellent|  621|162|Phillipines|
|      6314987|            Locavore|162|      Pasig City|Brixton Technolog...|           Kapitolyo|Kapitolyo, Pasig ...| 121.056532|  14.572041|            Filipino|                1100|Botswana Pula(P)|              Yes|                 No|               No|                  No|          3|             4.8|  Dark Green|  Excellent|  532|162|Phillipines|
|      6309903|    Silantro Fil-Mex|162|      Pasig City|75 East Capitol D...|           Kapitolyo|Kapitolyo, Pasig ...| 121.057916|  14.567689|   Filipino, Mexican|                 800|Botswana Pula(P)|               No|                 No|               No|                  No|          3|             4.9|  Dark Green|  Excellent| 1070|162|Phillipines|
|      6309455|Mad Mark's Creame...|162|      Pasig City|23 East Capitol D...|           Kapitolyo|Kapitolyo, Pasig ...|  121.06082|  14.570849|American, Ice Cre...|                 900|Botswana Pula(P)|              Yes|                 No|               No|                  No|          3|             4.2|       Green|  Very Good|  488|162|Phillipines|
|      6318433|    Silantro Fil-Mex|162|     Quezon City|Second Floor, UP ...|UP Town Center, D...|UP Town Center, D...| 121.075419|  14.649503|   Filipino, Mexican|                 800|Botswana Pula(P)|               No|                 No|               No|                  No|          3|             4.8|  Dark Green|  Excellent|  294|162|Phillipines|
|      6310470|          Guevarra's|162|   San Juan City|387 P. Guevarra C...|      Addition Hills|Addition Hills, S...|121.0335917|   14.59345|            Filipino|                1000|Botswana Pula(P)|              Yes|                 No|               No|                  No|          3|             4.2|       Green|  Very Good|  458|162|Phillipines|
|      6314605|Sodam Korean Rest...|162|   San Juan City|17 J. Abad Santos...|       Little Baguio|Little Baguio, Sa...|  121.03811|   14.59889|              Korean|                 700|Botswana Pula(P)|               No|                 No|               No|                  No|          3|             4.3|       Green|  Very Good|  223|162|Phillipines|
|     18185059|       Cafe Arabelle|162|      Santa Rosa|Ayala Mall, Solen...|Nuvali, Don Jose,...|Nuvali, Don Jose,...|  121.05704|  14.237082|Cafe, American, I...|                 800|Botswana Pula(P)|               No|                 No|               No|                  No|          3|             3.6|      Yellow|       Good|   29|162|Phillipines|
|     18182702|Nonna's Pasta & P...|162|      Santa Rosa|Ground Floor, Bui...|Solenad 3, Don Jo...|Solenad 3, Don Jo...|121.0565874|14.23767897|      Italian, Pizza|                 850|Botswana Pula(P)|               No|                 No|               No|                  No|          3|               4|       Green|  Very Good|   72|162|Phillipines|
|      6318213|          Balay Dako|162|   Tagaytay City|Aguinaldo Highway...|       Tagaytay City|Tagaytay City, Ta...| 120.951589|  14.101834|            Filipino|                1200|Botswana Pula(P)|              Yes|                 No|               No|                  No|          3|             4.5|  Dark Green|  Excellent|  211|162|Phillipines|
|     18255654|Hobing Korean Des...|162|     Taguig City|Third Floor, BGC ...|BGC Stopover Pavi...|BGC Stopover Pavi...| 121.045878|   14.55436|Cafe, Korean, Des...|                 600|Botswana Pula(P)|               No|                 No|               No|                  No|          2|             4.5|  Dark Green|  Excellent|  118|162|Phillipines|
|      6308205|Wildflour Cafe + ...|162|     Taguig City|Ground Floor, Net...|Bonifacio Global ...|Bonifacio Global ...|  121.04622|  14.549337|Cafe, Bakery, Ame...|                1500|Botswana Pula(P)|              Yes|                 No|               No|                  No|          4|             4.4|       Green|  Very Good|  392|162|Phillipines|
+-------------+--------------------+---+----------------+--------------------+--------------------+--------------------+-----------+-----------+--------------------+--------------------+----------------+-----------------+-------------------+-----------------+--------------------+-----------+----------------+------------+-----------+-----+---+-----------+
only showing top 20 rows

In [0]:
data.columns

Out[76]: ['Restaurant ID',
 'Restaurant Name',
 'cc',
 'City',
 'Address',
 'Locality',
 'Locality Verbose',
 'Longitude',
 'Latitude',
 'Cuisines',
 'Average Cost for two',
 'Currency',
 'Has Table booking',
 'Has Online delivery',
 'Is delivering now',
 'Switch to order menu',
 'Price range',
 'Aggregate rating',
 'Rating color',
 'Rating text',
 'Votes',
 'cc',
 'Country']

In [0]:
df2.columns

Out[79]: ['Restaurant ID',
 'Restaurant Name',
 'cc',
 'City',
 'Address',
 'Locality',
 'Locality Verbose',
 'Longitude',
 'Latitude',
 'Cuisines',
 'Average Cost for two',
 'Currency',
 'Has Table booking',
 'Has Online delivery',
 'Is delivering now',
 'Switch to order menu',
 'Price range',
 'Aggregate rating',
 'Rating color',
 'Rating text',
 'Votes']

In [0]:
stock=spark.read.csv('/FileStore/tables/appl_stock.csv',header=True,inferSchema=True)

In [0]:
stock.show()

+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
|               Date|              Open|              High|               Low|             Close|   Volume|         Adj Close|
+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
|2010-01-04 00:00:00|        213.429998|        214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05 00:00:00|        214.599998|        215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06 00:00:00|        214.379993|            215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07 00:00:00|            211.75|        212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08 00:00:00|        210.299994|        212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
|2010-01-11 00:00:00|212.79999700000002|        213.000002|        208.450005|210.11000299999998|115557400|         27.221758|
|2010-01-12 00:00:00|209.18999499999998|209.76999500000002|        206.419998|        207.720001|148614900|          26.91211|
|2010-01-13 00:00:00|        207.870005|210.92999500000002|        204.099998|        210.650002|151473000|          27.29172|
|2010-01-14 00:00:00|210.11000299999998|210.45999700000002|        209.020004|            209.43|108223500|         27.133657|
|2010-01-15 00:00:00|210.92999500000002|211.59999700000003|        205.869999|            205.93|148516900|26.680197999999997|
|2010-01-19 00:00:00|        208.330002|215.18999900000003|        207.240004|        215.039995|182501900|27.860484999999997|
|2010-01-20 00:00:00|        214.910006|        215.549994|        209.500002|            211.73|153038200|         27.431644|
|2010-01-21 00:00:00|        212.079994|213.30999599999998|        207.210003|        208.069996|152038600|         26.957455|
|2010-01-22 00:00:00|206.78000600000001|        207.499996|            197.16|            197.75|220441900|         25.620401|
|2010-01-25 00:00:00|202.51000200000001|        204.699999|        200.190002|        203.070002|266424900|26.309658000000002|
|2010-01-26 00:00:00|205.95000100000001|        213.710005|        202.580004|        205.940001|466777500|         26.681494|
|2010-01-27 00:00:00|        206.849995|            210.58|        199.530001|        207.880005|430642100|26.932840000000002|
|2010-01-28 00:00:00|        204.930004|        205.500004|        198.699995|        199.289995|293375600|25.819922000000002|
|2010-01-29 00:00:00|        201.079996|        202.199995|        190.250002|        192.060003|311488100|         24.883208|
|2010-02-01 00:00:00|192.36999699999998|             196.0|191.29999899999999|        194.729998|187469100|         25.229131|
+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 20 rows

In [0]:
stock.printSchema()

root
 |-- Date: timestamp (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

In [0]:
from pyspark.sql.functions import format_number

In [0]:
data=stock.select(stock['Date'],
             format_number(stock['High'].cast('float'),2).alias('HIGH'),
             format_number(stock['Open'].cast('float'),2).alias('OPEN'),
             format_number(stock['Low'].cast('float'),2).alias('LOW'),
             format_number(stock['Close'].cast('float'),2).alias('CLOSE'),
             format_number(stock['Volume'].cast('float'),2).alias('VOLUME'),
             format_number(stock['Adj Close'].cast('float'),2).alias('Adj Close')
            )

In [0]:
data.show(10)

+-------------------+------+------+------+------+--------------+---------+
|               Date|  HIGH|  OPEN|   LOW| CLOSE|        VOLUME|Adj Close|
+-------------------+------+------+------+------+--------------+---------+
|2010-01-04 00:00:00|214.50|213.43|212.38|214.01|123,432,400.00|    27.73|
|2010-01-05 00:00:00|215.59|214.60|213.25|214.38|150,476,192.00|    27.77|
|2010-01-06 00:00:00|215.23|214.38|210.75|210.97|138,040,000.00|    27.33|
|2010-01-07 00:00:00|212.00|211.75|209.05|210.58|119,282,800.00|    27.28|
|2010-01-08 00:00:00|212.00|210.30|209.06|211.98|111,902,704.00|    27.46|
|2010-01-11 00:00:00|213.00|212.80|208.45|210.11|115,557,400.00|    27.22|
|2010-01-12 00:00:00|209.77|209.19|206.42|207.72|148,614,896.00|    26.91|
|2010-01-13 00:00:00|210.93|207.87|204.10|210.65|151,472,992.00|    27.29|
|2010-01-14 00:00:00|210.46|210.11|209.02|209.43|108,223,504.00|    27.13|
|2010-01-15 00:00:00|211.60|210.93|205.87|205.93|148,516,896.00|    26.68|
+-------------------+------+------+------+------+--------------+---------+
only showing top 10 rows

In [0]:
from pyspark.sql.functions import hours,dayofmonth,dayofweek,dayofyear,year,date_format,weekofyear,month,hour

In [0]:
data.select(dayofmonth(data['Date'])).show()

+----------------+
|dayofmonth(Date)|
+----------------+
|               4|
|               5|
|               6|
|               7|
|               8|
|              11|
|              12|
|              13|
|              14|
|              15|
|              19|
|              20|
|              21|
|              22|
|              25|
|              26|
|              27|
|              28|
|              29|
|               1|
+----------------+
only showing top 20 rows

In [0]:
data=data.withColumn('day',dayofmonth(data['Date']))

In [0]:
data=data.withColumn('year',year(data['Date']))

In [0]:
data=data.withColumn('month',month(data['Date']))

In [0]:
data.show()

+-------------------+------+------+------+------+--------------+---------+-----+---+----+
|               Date|  HIGH|  OPEN|   LOW| CLOSE|        VOLUME|Adj Close|month|day|year|
+-------------------+------+------+------+------+--------------+---------+-----+---+----+
|2010-01-04 00:00:00|214.50|213.43|212.38|214.01|123,432,400.00|    27.73|    1|  4|2010|
|2010-01-05 00:00:00|215.59|214.60|213.25|214.38|150,476,192.00|    27.77|    1|  5|2010|
|2010-01-06 00:00:00|215.23|214.38|210.75|210.97|138,040,000.00|    27.33|    1|  6|2010|
|2010-01-07 00:00:00|212.00|211.75|209.05|210.58|119,282,800.00|    27.28|    1|  7|2010|
|2010-01-08 00:00:00|212.00|210.30|209.06|211.98|111,902,704.00|    27.46|    1|  8|2010|
|2010-01-11 00:00:00|213.00|212.80|208.45|210.11|115,557,400.00|    27.22|    1| 11|2010|
|2010-01-12 00:00:00|209.77|209.19|206.42|207.72|148,614,896.00|    26.91|    1| 12|2010|
|2010-01-13 00:00:00|210.93|207.87|204.10|210.65|151,472,992.00|    27.29|    1| 13|2010|
|2010-01-14 00:00:00|210.46|210.11|209.02|209.43|108,223,504.00|    27.13|    1| 14|2010|
|2010-01-15 00:00:00|211.60|210.93|205.87|205.93|148,516,896.00|    26.68|    1| 15|2010|
|2010-01-19 00:00:00|215.19|208.33|207.24|215.04|182,501,904.00|    27.86|    1| 19|2010|
|2010-01-20 00:00:00|215.55|214.91|209.50|211.73|153,038,208.00|    27.43|    1| 20|2010|
|2010-01-21 00:00:00|213.31|212.08|207.21|208.07|152,038,592.00|    26.96|    1| 21|2010|
|2010-01-22 00:00:00|207.50|206.78|197.16|197.75|220,441,904.00|    25.62|    1| 22|2010|
|2010-01-25 00:00:00|204.70|202.51|200.19|203.07|266,424,896.00|    26.31|    1| 25|2010|
|2010-01-26 00:00:00|213.71|205.95|202.58|205.94|466,777,504.00|    26.68|    1| 26|2010|
|2010-01-27 00:00:00|210.58|206.85|199.53|207.88|430,642,112.00|    26.93|    1| 27|2010|
|2010-01-28 00:00:00|205.50|204.93|198.70|199.29|293,375,616.00|    25.82|    1| 28|2010|
|2010-01-29 00:00:00|202.20|201.08|190.25|192.06|311,488,096.00|    24.88|    1| 29|2010|
|2010-02-01 00:00:00|196.00|192.37|191.30|194.73|187,469,104.00|    25.23|    2|  1|2010|
+-------------------+------+------+------+------+--------------+---------+-----+---+----+
only showing top 20 rows

In [0]:
from pyspark.sql.functions import avg

In [0]:
df3=spark.read.csv('/FileStore/tables/sales_data.csv',header=True,inferSchema=True)

In [0]:
df3.show()

+---+--------+--------------------+----------------+----------+--------------+--------------------+-----+-------------------+
|_c0|Order ID|             Product|Quantity Ordered|Price Each|    Order Date|    Purchase Address|Month|               City|
+---+--------+--------------------+----------------+----------+--------------+--------------------+-----+-------------------+
|  0|  176558|USB-C Charging Cable|               2|     11.95|04/19/19 08:46|917 1st St, Dalla...|    4|       Dallas  (TX)|
|  2|  176559|Bose SoundSport H...|               1|     99.99|04/07/19 22:30|682 Chestnut St, ...|    4|       Boston  (MA)|
|  3|  176560|        Google Phone|               1|     600.0|04/12/19 14:38|669 Spruce St, Lo...|    4|  Los Angeles  (CA)|
|  4|  176560|    Wired Headphones|               1|     11.99|04/12/19 14:38|669 Spruce St, Lo...|    4|  Los Angeles  (CA)|
|  5|  176561|    Wired Headphones|               1|     11.99|04/30/19 09:27|333 8th St, Los A...|    4|  Los Angeles  (CA)|
|  6|  176562|USB-C Charging Cable|               1|     11.95|04/29/19 13:03|381 Wilson St, Sa...|    4|San Francisco  (CA)|
|  7|  176563|Bose SoundSport H...|               1|     99.99|04/02/19 07:46|668 Center St, Se...|    4|      Seattle  (WA)|
|  8|  176564|USB-C Charging Cable|               1|     11.95|04/12/19 10:58|790 Ridge St, Atl...|    4|      Atlanta  (GA)|
|  9|  176565|  Macbook Pro Laptop|               1|    1700.0|04/24/19 10:38|915 Willow St, Sa...|    4|San Francisco  (CA)|
| 10|  176566|    Wired Headphones|               1|     11.99|04/08/19 14:05|83 7th St, Boston...|    4|       Boston  (MA)|
| 11|  176567|        Google Phone|               1|     600.0|04/18/19 17:18|444 7th St, Los A...|    4|  Los Angeles  (CA)|
| 12|  176568|Lightning Chargin...|               1|     14.95|04/15/19 12:18|438 Elm St, Seatt...|    4|      Seattle  (WA)|
| 13|  176569|27in 4K Gaming Mo...|               1|    389.99|04/16/19 19:23|657 Hill St, Dall...|    4|       Dallas  (TX)|
| 14|  176570|AA Batteries (4-p...|               1|      3.84|04/22/19 15:09|186 12th St, Dall...|    4|       Dallas  (TX)|
| 15|  176571|Lightning Chargin...|               1|     14.95|04/19/19 14:29|253 Johnson St, A...|    4|      Atlanta  (GA)|
| 16|  176572|Apple Airpods Hea...|               1|     150.0|04/04/19 20:30|149 Dogwood St, N...|    4|New York City  (NY)|
| 17|  176573|USB-C Charging Cable|               1|     11.95|04/27/19 18:41|214 Chestnut St, ...|    4|San Francisco  (CA)|
| 18|  176574|        Google Phone|               1|     600.0|04/03/19 19:42|20 Hill St, Los A...|    4|  Los Angeles  (CA)|
| 19|  176574|USB-C Charging Cable|               1|     11.95|04/03/19 19:42|20 Hill St, Los A...|    4|  Los Angeles  (CA)|
| 20|  176575|AAA Batteries (4-...|               1|      2.99|04/27/19 00:30|433 Hill St, New ...|    4|New York City  (NY)|
+---+--------+--------------------+----------------+----------+--------------+--------------------+-----+-------------------+
only showing top 20 rows

In [0]:
df3.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Order ID: integer (nullable = true)
 |-- Product: string (nullable = true)
 |-- Quantity Ordered: integer (nullable = true)
 |-- Price Each: double (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Purchase Address: string (nullable = true)
 |-- Month: integer (nullable = true)
 |-- City: string (nullable = true)

In [0]:
df3=df3.withColumn('Total Cost',(df3['Quantity Ordered']*df3['Price Each']))

In [0]:
df3.show()

+---+--------+--------------------+----------------+----------+--------------+--------------------+-----+-------------------+----------+
|_c0|Order ID|             Product|Quantity Ordered|Price Each|    Order Date|    Purchase Address|Month|               City|Total Cost|
+---+--------+--------------------+----------------+----------+--------------+--------------------+-----+-------------------+----------+
|  0|  176558|USB-C Charging Cable|               2|     11.95|04/19/19 08:46|917 1st St, Dalla...|    4|       Dallas  (TX)|      23.9|
|  2|  176559|Bose SoundSport H...|               1|     99.99|04/07/19 22:30|682 Chestnut St, ...|    4|       Boston  (MA)|     99.99|
|  3|  176560|        Google Phone|               1|     600.0|04/12/19 14:38|669 Spruce St, Lo...|    4|  Los Angeles  (CA)|     600.0|
|  4|  176560|    Wired Headphones|               1|     11.99|04/12/19 14:38|669 Spruce St, Lo...|    4|  Los Angeles  (CA)|     11.99|
|  5|  176561|    Wired Headphones|               1|     11.99|04/30/19 09:27|333 8th St, Los A...|    4|  Los Angeles  (CA)|     11.99|
|  6|  176562|USB-C Charging Cable|               1|     11.95|04/29/19 13:03|381 Wilson St, Sa...|    4|San Francisco  (CA)|     11.95|
|  7|  176563|Bose SoundSport H...|               1|     99.99|04/02/19 07:46|668 Center St, Se...|    4|      Seattle  (WA)|     99.99|
|  8|  176564|USB-C Charging Cable|               1|     11.95|04/12/19 10:58|790 Ridge St, Atl...|    4|      Atlanta  (GA)|     11.95|
|  9|  176565|  Macbook Pro Laptop|               1|    1700.0|04/24/19 10:38|915 Willow St, Sa...|    4|San Francisco  (CA)|    1700.0|
| 10|  176566|    Wired Headphones|               1|     11.99|04/08/19 14:05|83 7th St, Boston...|    4|       Boston  (MA)|     11.99|
| 11|  176567|        Google Phone|               1|     600.0|04/18/19 17:18|444 7th St, Los A...|    4|  Los Angeles  (CA)|     600.0|
| 12|  176568|Lightning Chargin...|               1|     14.95|04/15/19 12:18|438 Elm St, Seatt...|    4|      Seattle  (WA)|     14.95|
| 13|  176569|27in 4K Gaming Mo...|               1|    389.99|04/16/19 19:23|657 Hill St, Dall...|    4|       Dallas  (TX)|    389.99|
| 14|  176570|AA Batteries (4-p...|               1|      3.84|04/22/19 15:09|186 12th St, Dall...|    4|       Dallas  (TX)|      3.84|
| 15|  176571|Lightning Chargin...|               1|     14.95|04/19/19 14:29|253 Johnson St, A...|    4|      Atlanta  (GA)|     14.95|
| 16|  176572|Apple Airpods Hea...|               1|     150.0|04/04/19 20:30|149 Dogwood St, N...|    4|New York City  (NY)|     150.0|
| 17|  176573|USB-C Charging Cable|               1|     11.95|04/27/19 18:41|214 Chestnut St, ...|    4|San Francisco  (CA)|     11.95|
| 18|  176574|        Google Phone|               1|     600.0|04/03/19 19:42|20 Hill St, Los A...|    4|  Los Angeles  (CA)|     600.0|
| 19|  176574|USB-C Charging Cable|               1|     11.95|04/03/19 19:42|20 Hill St, Los A...|    4|  Los Angeles  (CA)|     11.95|
| 20|  176575|AAA Batteries (4-...|               1|      2.99|04/27/19 00:30|433 Hill St, New ...|    4|New York City  (NY)|      2.99|
+---+--------+--------------------+----------------+----------+--------------+--------------------+-----+-------------------+----------+
only showing top 20 rows

In [0]:
from pyspark.sql.functions import to_timestamp

In [0]:
df3=df3.withColumn('Order Date', to_timestamp(df3['Order Date'], 'MM/dd/yy HH:mm'))

In [0]:
df3.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Order ID: integer (nullable = true)
 |-- Product: string (nullable = true)
 |-- Quantity Ordered: integer (nullable = true)
 |-- Price Each: double (nullable = true)
 |-- Order Date: timestamp (nullable = true)
 |-- Purchase Address: string (nullable = true)
 |-- Month: integer (nullable = true)
 |-- City: string (nullable = true)
 |-- Total Cost: double (nullable = true)

In [0]:
df3=df3.withColumn('Hour', hour(df3['Order Date']))

In [0]:
df3.show()

+---+--------+--------------------+----------------+----------+-------------------+--------------------+-----+-------------------+----------+----+
|_c0|Order ID|             Product|Quantity Ordered|Price Each|         Order Date|    Purchase Address|Month|               City|Total Cost|Hour|
+---+--------+--------------------+----------------+----------+-------------------+--------------------+-----+-------------------+----------+----+
|  0|  176558|USB-C Charging Cable|               2|     11.95|2019-04-19 08:46:00|917 1st St, Dalla...|    4|       Dallas  (TX)|      23.9|   8|
|  2|  176559|Bose SoundSport H...|               1|     99.99|2019-04-07 22:30:00|682 Chestnut St, ...|    4|       Boston  (MA)|     99.99|  22|
|  3|  176560|        Google Phone|               1|     600.0|2019-04-12 14:38:00|669 Spruce St, Lo...|    4|  Los Angeles  (CA)|     600.0|  14|
|  4|  176560|    Wired Headphones|               1|     11.99|2019-04-12 14:38:00|669 Spruce St, Lo...|    4|  Los Angeles  (CA)|     11.99|  14|
|  5|  176561|    Wired Headphones|               1|     11.99|2019-04-30 09:27:00|333 8th St, Los A...|    4|  Los Angeles  (CA)|     11.99|   9|
|  6|  176562|USB-C Charging Cable|               1|     11.95|2019-04-29 13:03:00|381 Wilson St, Sa...|    4|San Francisco  (CA)|     11.95|  13|
|  7|  176563|Bose SoundSport H...|               1|     99.99|2019-04-02 07:46:00|668 Center St, Se...|    4|      Seattle  (WA)|     99.99|   7|
|  8|  176564|USB-C Charging Cable|               1|     11.95|2019-04-12 10:58:00|790 Ridge St, Atl...|    4|      Atlanta  (GA)|     11.95|  10|
|  9|  176565|  Macbook Pro Laptop|               1|    1700.0|2019-04-24 10:38:00|915 Willow St, Sa...|    4|San Francisco  (CA)|    1700.0|  10|
| 10|  176566|    Wired Headphones|               1|     11.99|2019-04-08 14:05:00|83 7th St, Boston...|    4|       Boston  (MA)|     11.99|  14|
| 11|  176567|        Google Phone|               1|     600.0|2019-04-18 17:18:00|444 7th St, Los A...|    4|  Los Angeles  (CA)|     600.0|  17|
| 12|  176568|Lightning Chargin...|               1|     14.95|2019-04-15 12:18:00|438 Elm St, Seatt...|    4|      Seattle  (WA)|     14.95|  12|
| 13|  176569|27in 4K Gaming Mo...|               1|    389.99|2019-04-16 19:23:00|657 Hill St, Dall...|    4|       Dallas  (TX)|    389.99|  19|
| 14|  176570|AA Batteries (4-p...|               1|      3.84|2019-04-22 15:09:00|186 12th St, Dall...|    4|       Dallas  (TX)|      3.84|  15|
| 15|  176571|Lightning Chargin...|               1|     14.95|2019-04-19 14:29:00|253 Johnson St, A...|    4|      Atlanta  (GA)|     14.95|  14|
| 16|  176572|Apple Airpods Hea...|               1|     150.0|2019-04-04 20:30:00|149 Dogwood St, N...|    4|New York City  (NY)|     150.0|  20|
| 17|  176573|USB-C Charging Cable|               1|     11.95|2019-04-27 18:41:00|214 Chestnut St, ...|    4|San Francisco  (CA)|     11.95|  18|
| 18|  176574|        Google Phone|               1|     600.0|2019-04-03 19:42:00|20 Hill St, Los A...|    4|  Los Angeles  (CA)|     600.0|  19|
| 19|  176574|USB-C Charging Cable|               1|     11.95|2019-04-03 19:42:00|20 Hill St, Los A...|    4|  Los Angeles  (CA)|     11.95|  19|
| 20|  176575|AAA Batteries (4-...|               1|      2.99|2019-04-27 00:30:00|433 Hill St, New ...|    4|New York City  (NY)|      2.99|   0|
+---+--------+--------------------+----------------+----------+-------------------+--------------------+-----+-------------------+----------+----+
only showing top 20 rows

In [0]:
df3.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Order ID: integer (nullable = true)
 |-- Product: string (nullable = true)
 |-- Quantity Ordered: integer (nullable = true)
 |-- Price Each: double (nullable = true)
 |-- Order Date: timestamp (nullable = true)
 |-- Purchase Address: string (nullable = true)
 |-- Month: integer (nullable = true)
 |-- City: string (nullable = true)
 |-- Total Cost: double (nullable = true)
 |-- Hour: integer (nullable = true)

In [0]:
from pyspark.sql.functions import sum

In [0]:
#1st Question
df3.groupBy('Month').sum('Total Cost').orderBy('sum(Total Cost)', ascending=False).show()
#12

+-----+------------------+
|Month|   sum(Total Cost)|
+-----+------------------+
|   12| 4613443.340000643|
|   10|3736726.8800009703|
|    4| 3390670.240000702|
|   11|3199603.1999998465|
|    5| 3152606.750000546|
|    3|2807100.3799998695|
|    7|2647775.7600002377|
|    6|2577802.2600001753|
|    8| 2244467.879999992|
|    2|2202022.4199999636|
|    9|2097560.1299999068|
|    1|1822256.7299999422|
+-----+------------------+

In [0]:
#2nd Question
df3.groupBy('City').sum('Quantity Ordered').orderBy('sum(Quantity Ordered)', ascending=False).show()
#San Francisco

+-------------------+---------------------+
|               City|sum(Quantity Ordered)|
+-------------------+---------------------+
|San Francisco  (CA)|                50239|
|  Los Angeles  (CA)|                33289|
|New York City  (NY)|                27932|
|       Boston  (MA)|                22528|
|       Dallas  (TX)|                16730|
|      Atlanta  (GA)|                16602|
|      Seattle  (WA)|                16553|
|     Portland  (OR)|                11303|
|       Austin  (TX)|                11153|
|     Portland  (ME)|                 2750|
+-------------------+---------------------+

In [0]:
#3rd Question
df3.groupBy('Hour').sum('Total Cost').orderBy('sum(Total Cost)',ascending=False).show()
#7 p.m.

+----+------------------+
|Hour|   sum(Total Cost)|
+----+------------------+
|  19|2412938.5399999986|
|  12| 2316821.339999999|
|  11| 2300610.239999999|
|  20| 2281716.239999998|
|  18|2219348.2999999984|
|  13|2155389.7999999975|
|  17|2129361.6099999975|
|  14|2083672.7299999977|
|  21|2042000.8599999973|
|  10|1944286.7699999972|
|  15| 1941549.599999997|
|  16|1904601.3099999977|
|   9| 1639030.579999997|
|  22|1607549.2099999965|
|   8|1192348.9699999962|
|  23|1179304.4399999962|
|   7| 744854.1199999995|
|   0| 713721.2700000001|
|   1| 460866.8799999994|
|   6|448112.99999999953|
+----+------------------+
only showing top 20 rows

In [0]:
#4th Question
data=df3.groupBy('Order ID').count().where('count > 1').drop('count')
data1=list(data.select('Order ID').toPandas()['Order ID'])
df4=df3.filter(df3['Order ID'].isin(data1))

In [0]:
df4.groupBy('Order ID', 'Product').sum('Quantity Ordered').orderBy('Order ID').show()

+--------+--------------------+---------------------+
|Order ID|             Product|sum(Quantity Ordered)|
+--------+--------------------+---------------------+
|  141275|    Wired Headphones|                    1|
|  141275|USB-C Charging Cable|                    1|
|  141290|Apple Airpods Hea...|                    1|
|  141290|AA Batteries (4-p...|                    3|
|  141365|     Vareebadd Phone|                    1|
|  141365|    Wired Headphones|                    1|
|  141384|        Google Phone|                    1|
|  141384|USB-C Charging Cable|                    1|
|  141450|Bose SoundSport H...|                    1|
|  141450|        Google Phone|                    1|
|  141457|Apple Airpods Hea...|                    1|
|  141457|              iPhone|                    1|
|  141478|        Google Phone|                    1|
|  141478|Apple Airpods Hea...|                    1|
|  141550|              iPhone|                    1|
|  141550|    Wired Headphones|                    1|
|  141550|Apple Airpods Hea...|                    2|
|  141587|USB-C Charging Cable|                    1|
|  141587|Apple Airpods Hea...|                    1|
|  141645|    Wired Headphones|                    1|
+--------+--------------------+---------------------+
only showing top 20 rows

In [0]:
#5th Question
df3.groupBy('Product').sum('Quantity Ordered').orderBy('sum(Quantity Ordered)',ascending=False).show()
#AAA batteries 4 pack

+--------------------+---------------------+
|             Product|sum(Quantity Ordered)|
+--------------------+---------------------+
|AAA Batteries (4-...|                31017|
|AA Batteries (4-p...|                27635|
|USB-C Charging Cable|                23975|
|Lightning Chargin...|                23217|
|    Wired Headphones|                20557|
|Apple Airpods Hea...|                15661|
|Bose SoundSport H...|                13457|
|    27in FHD Monitor|                 7550|
|              iPhone|                 6849|
|27in 4K Gaming Mo...|                 6244|
|34in Ultrawide Mo...|                 6199|
|        Google Phone|                 5532|
|       Flatscreen TV|                 4819|
|  Macbook Pro Laptop|                 4728|
|     ThinkPad Laptop|                 4130|
|        20in Monitor|                 4129|
|     Vareebadd Phone|                 2068|
|  LG Washing Machine|                  666|
|            LG Dryer|                  646|
+--------------------+---------------------+

In [0]:
from pyspark.sql.functions import count, collect_list, col
df3.groupBy('Order ID').agg(count('Order ID'), collect_list('Product').alias('coll_prd')).where(col('count(Order ID)') > 1).groupBy('coll_prd').count().orderBy('count', ascending=False).show(1, False)

+----------------------------------+-----+
|coll_prd                          |count|
+----------------------------------+-----+
|[iPhone, Lightning Charging Cable]|882  |
+----------------------------------+-----+
only showing top 1 row