In [1]:
test=["data", "Machine learning","Internet of things","blockchain","bigdata analytics"]

In [4]:
for z in test:
    print(z.upper())

DATA
MACHINE LEARNING
INTERNET OF THINGS
BLOCKCHAIN
BIGDATA ANALYTICS

In [5]:
test

['data',
 'Machine learning',
 'Internet of things',
 'blockchain',
 'bigdata analytics']

In [6]:
output = []
for z in test:
    output.append(z.upper())

In [7]:
output

['DATA',
 'MACHINE LEARNING',
 'INTERNET OF THINGS',
 'BLOCKCHAIN',
 'BIGDATA ANALYTICS']

In [8]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [15]:
#python code which will return dict where keys 1 to 10 and value will be their square
keys = list(range(1,10,1))
values = []
y = 0;
dict = {}
for x in keys:
    values.append(x**2)
for x in keys:
    dict[x] = values[y]
    y += 1

In [16]:
dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [17]:
data={}
for i in range(1,11):
    data[i]=i**2

In [18]:
data

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [30]:
a=[895,562,458,"data",45,652,45,"AI"]
output = []
for x in a:
    if type(x) != int:
        a.remove(x)
    else:
        if x%2 == 0:
            output.append(x)
output

[562, 458, 652]

In [31]:
data = """
it does not metter
no matter
don't give up
world map
when you feel like quiting
"""

In [44]:
newdata = []
newdata = data.rsplit(" ")
new = []
for x in newdata:
    new.append(x.rsplit("\n"))
    
new

[['', 'it'],
 ['does'],
 ['not'],
 ['metter', 'no'],
 ['matter', "don't"],
 ['give'],
 ['up', 'world'],
 ['map', 'when'],
 ['you'],
 ['feel'],
 ['like'],
 ['quiting', '']]

In [58]:
string = input("Enter string here")
new = []
digits = 0
letters = 0
for i in string:
    if i != " ":
        new.append(i)
for i in new:
    if i.isdigit() == True:
        digits += 1
    else:
        letters += 1
print("digit: " + str(digits))
print("letters: " + str(letters))

Enter string herehello world123
digit: 3
letters: 10

In [60]:
#function

def myFunction():
    return "hello"
myFunction()

'hello'

In [61]:
def add(a, b):
    print(a + b)
add(4, 5)

9

In [62]:
add(a=5, b=45)

50

In [63]:
a

[895, 562, 458, 45, 652, 45]

In [65]:
a = 45 #global variable

In [75]:
z = 78
def add(a, b):
    global r,q
    q = a + b
    r = z + q
    print(r)

In [76]:
add(80, 80)

238

In [77]:
print(q)

160

In [78]:
print(a)

45

In [79]:
print(r)

238

In [83]:
# The asterik allows the user to pass as much data as they want
def add(*a):
    print(a)
    print(sum(a))

In [84]:
add(45.78,56,89,56,23,56,78,56)

(45.78, 56, 89, 56, 23, 56, 78, 56)
459.78

In [85]:
def add(**a):
    print(a)
    print(sum(a.values()))

In [86]:
add(45.78,56,89,56,23,56,78,56)

TypeError: add() takes 0 positional arguments but 8 were given

In [87]:
add(z=78, x=89, y=56, m=26)

{'z': 78, 'x': 89, 'y': 56, 'm': 26}
249

In [91]:
def calculator(a, b, value):
    if value == 1:
        print(a-b)
    elif value == 2:
        print(a+b)
    elif value == 3:
        print(a/b)
    elif value ==4:
        print(a*b)
while True:
    a = int(input("Enter a value"))
    b = int(input("Enter b value"))
    value = int(input("Enter 1 for subrtraction, 2 for addition, 3 for division, 4 for multiplaction, or 5 to quit"))
    if value == 5:
        break
    calculator(a, b, value)

Enter a value45
Enter b value7
Enter 1 for subrtraction, 2 for addition, 3 for division, 4 for multiplaction, or 5 to quit2
52
Enter a value45
Enter b value7
Enter 1 for subrtraction, 2 for addition, 3 for division, 4 for multiplaction, or 5 to quit5

In [92]:
def add(a, b):
    return a + b
def sub(a, b):
    return a - b
def div(a, b):
    return a / b
def multi(a, b):
    return a * b

In [100]:
class python:
    # __ two underscore makes it private
    
    def __init__(self, a, b):
        self.a = a
        self.b = b
    
    def add(self):
        return self.a + self.b
    def sub(self):
        return self.a - self.b
    def div(self):
        return self.a / self.b
    def multiply(self):
        return self.a * self.b

In [94]:
object1 = python(45, 55)

In [95]:
object1.a

45

In [96]:
object1.b

55

In [98]:
object1.add()

100

In [99]:
object1.sub()

-10

In [101]:
class new:
    a = 45

In [103]:
obj = new()

In [104]:
obj.a

45

In [105]:
type(obj)

__main__.new

In [106]:
type(obj.a)

int

In [107]:
#Define a class name circle which can be constructed by a radius
#The circle class has a method which can compute the area

In [108]:
class circle:
    
    def __init__(self, radius):
        self.radius = radius
    
    def area(self):
        return 3.14 * self.radius**2

In [110]:
obj = circle(20)

In [111]:
obj.area()

1256.0